@{
    ViewBag.Title = "ChoosePlace";
}
<script type="text/javascript">
    toDisplay = function () {
        var place = document.getElementById("Place");

        if (place.value != "")
            parent.swapPage("Crime/Display?Place=" + place.value);
    }
</script>
    <div id="main">
        <img src="/images/icon_crime.gif" />
        <img src="/images/title_crimereports.gif" />
        <br />
        <img src="/images/bnr_choosealocation.gif" />
        <br />
        <span style="float:left; width:33%">
            Origin
            <br />
            @Html.DropDownList("Place", (IEnumerable<SelectListItem>) ViewBag.SE)
        </span>
        <div>
            <img height="1px" src="/images/mainpx.gif" width="470px" />
        </div>
        <br />
        <center><a href="#" onclick="parent.swapPage('Crime/Display?Place='+document.getElementById('Place').value)"><img src="/images/btn_submit.gif" /></a></center>
    </div>
