@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    function nextPage() {
        var stateList = document.getElementById('State');
        var state = stateList.options[stateList.selectedIndex].value;
        var zip = document.getElementById('Zip').value;
        if (state == "" && zip != "")
            parent.swapPage("Crime/Display?Zip=" + zip);
        else if ((zip == "" && state != "") || (zip != "" && state != ""))
            parent.swapPage("Crime/ChoosePlace?State=" + state);
    }
</script>
    <div id="main">
        <img src="/images/icon_crime.gif" />
        <img src="/images/title_crimereports.gif" />
        <div class="text" >
            When making a decision regarding relocation, it is necessary to consider the safety of your new neighborhood. Check out zip code level data on every community in the United States.
        </div>
        <br />
        <img src="/images/bnr_choosealocation.gif" />
        <div class="centered">
            <span style="width:33%; float:left">
                State
                <br />
                @Html.DropDownList("State", (IEnumerable<SelectListItem>) ViewBag.States)
            </span>
            <span style="width:15%; float:left">
                <img src="/images/or.gif" />
            </span>
            <span style="width:33%; float:left">
                Zip
                <br />
                @Html.Editor("Zip")
            </span>
            <div>
                <img height="1px" src="/images/mainpx.gif" width="470px" />
            </div>
            <br />
            <center><a href="#" onclick="javascript:nextPage()"><img src="/images/btn_submit.gif" /></a></center>
        </div>
    </div>
