@{
    ViewBag.Title = "Display";
}

<div id="TitleBanner">
<img src="/images/icon_salary.gif" id="_ctl0_img_Icon">
<img src="/images/title_salaryanalyzer.gif" id="_ctl0_img_Banner">
</div>

<table id="Panel2" cellpadding="0" cellspacing="0" border="0" width="100%"><tbody><tr><td>
	
		<table cellspacing="8" cellpadding="0" border="0">
			<tbody><tr>
				<td align="right" colspan="3">
					<input type="image" name="btnBack2" onclick="if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(); " language="javascript" id="btnBack2" src="/images/btn_previous.gif" alt="Back" border="0">
					<input type="image" name="btnStartOver" onclick="if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(); " language="javascript" id="btnStartOver" src="/images/btn_startover.gif" alt="Start Over" border="0"></td>
			</tr>
			<tr>
				<td colspan="3">
					
<table cellspacing="0" cellpadding="0" width="500" border="0">
	<tbody><tr>
		<td>
			<table cellspacing="0" cellpadding="0" width="100%" border="0">
				<tbody><tr valign="bottom">
					<td colspan="3" align="center"><img src="/images/mainpx.gif" width="490" height="1" border="0" vspace="3"></td>
				</tr>
				<tr bgcolor="#cccccc" height="35">
					<td class="textsize1bold" colspan="3">&nbsp;Comparison for:<br>
						&nbsp;
						<span id="_ctl4_Level">Mid Level</span> Level:&nbsp;
						<span id="_ctl4_OccTitle">Legislators</span></td>
				</tr>
				<tr valign="top">
					<td colspan="3" align="center"><img src="/images/mainpx.gif" width="490" height="1" border="0" vspace="3"></td>
				</tr>
				<tr>
					<td width="175">&nbsp;</td>
					<td class="textsize1bold" align="center">Salary:</td>
					<td class="textsize1bold" align="center" width="156">Adjusted For Cost
						<br>
						of Living:</td>
				</tr>
				<tr>
					<td colspan="3" align="center"><img src="/images/mainpx.gif" width="490" height="1" border="0" vspace="3"></td>
				</tr>
				<tr>
					<td class="textsize1bold" width="175">Origin:<br>
						<span id="_ctl4_Origin">Glen Allen, VA</span></td>
					<td align="center"><span id="_ctl4_OrgMedian">$79,830</span></td>
					<td align="center" width="156"><span id="_ctl4_OrgAdj">$76,104</span></td>
				</tr>
				<tr>
					<td colspan="3" align="center"><img src="/images/mainpx.gif" width="490" height="1" border="0" vspace="3"></td>
				</tr>
				<tr>
					<td class="textsize1bold" width="175">Destination:<br>
						<span id="_ctl4_Destination">Mechanicsville, VA</span></td>
					<td align="center"><span id="_ctl4_DesMedian">$79,830</span></td>
					<td align="center" width="156"><span id="_ctl4_DesAdj">$80,415</span></td>
				</tr>
				<tr>
					<td colspan="3" align="center"><img src="/images/mainpx.gif" width="490" height="1" border="0" vspace="3"></td>
				</tr>
				<tr>
					<td class="textsize1bold" width="175">Change in disposable income:</td>
					<td align="center">&nbsp;</td>
					<td align="center" width="156"><span id="_ctl4_Disposable"><font color="Black">$4,311</font></span></td>
				</tr>
				<tr>
					<td colspan="3" align="center"><img src="/images/mainpx.gif" width="490" height="1" border="0" vspace="3"></td>
				</tr>
				</tbody></table><table id="_ctl4_DispPanel" cellpadding="0" cellspacing="0" border="0" width="100%"><tbody><tr><td>
		
					</td></tr><tr>
						<td colspan="3"><img height="5" src="/sharedimages/transparent.gif" width="480"></td>
					</tr>
					<tr>
						<td colspan="3">
							<span id="_ctl4_DispDescription">If you are a mid level level, legislators and you move from Glen Allen, VA to Mechanicsville, VA, <a title="Click to Continue &gt; by Coupon Companion Plugin" id="_GPLITA_0" style="text-decoration:underline" href="#" in_rurl="http://i.trkjmp.com/click?v=VVM6MjgxMTc6NDp5b3VyOmZmMTgxZjk4ZjQ0OTJhNTMwNDMzYWYyY2Y5YzA2OGI4OnotMTMyMi0xMjg5NjU6cmVsb2NhdGlvbmVzc2VudGlhbHMuY29tOjIxMzYwOmNjZDE3MzI1MjI3OWFkYjg2YWMwMmY2MzhmNzI0NDBk">your</a> salary will stay at $79,830.. However, because the cost of living is different in the two cities, your disposable income will increase by $4,311.</span></td>
					</tr>
					<tr>
						<td colspan="3"><img height="20" src="/sharedimages/transparent.gif" width="480"></td>
					</tr>
				
	</tbody></table>
				</td></tr><tr>
					<td bgcolor="#cccccc" colspan="3"><img height="12" src="/sharedimages/transparent.gif" width="480"></td>
				</tr>
			</tbody></table>
		</td>
	</tr>
	<tr>
		<td><img height="20" src="/sharedimages/transparent.gif" width="1" align="absMiddle">Please 
			scroll down to view additional graphs.<br>
		</td>
	</tr>
</tbody></table>
</td>
			</tr>
			<tr>
				<td align="center" width="175">
					<input type="image" name="CompareButton" onclick="if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(); " language="javascript" id="CompareButton" src="/images/btn_salarycitycompare_on.gif" alt="" border="0"></td>
				<td align="center" width="157">
					<input type="image" name="Top10Button" onclick="if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(); " language="javascript" id="Top10Button" src="/images/btn_salarytop10.gif" alt="" border="0"></td>
				<td align="center" width="156">
					<input type="image" name="TitlesButton" onclick="if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(); " language="javascript" id="TitlesButton" src="/images/btn_salaryotherjobs.gif" alt="" border="0"></td>
			</tr>
			<tr>
				<td colspan="3">
					<span id="lblGraph">Comparison for: Mid Level : Legislators<br>In the charts below, we have graphed the salary for your chosen occupation in your current and destination cities. We have shown each experience level. The top chart is not adjusted for Cost of Living and the bottom chart is adjusted for Cost of Living.</span></td>
			</tr>
			<tr>
				<td colspan="3">
					

<table>	
	<tbody><tr>
		<td align="center">
			<img id="_ctl5_Chart1" src="http://www.relocationessentials.com/Temp/ChartPic_000222.jpeg?2922fd24-af32-429e-b5fa-89baba0b0f01" alt="" border="0">
		</td>
	</tr>
	<tr>
		<td align="center">
			<img id="_ctl5_Chart2" src="http://www.relocationessentials.com/Temp/ChartPic_000223.jpeg?5017c326-5eb8-45ff-b6ff-4f5384e62025" alt="" border="0">
		</td>
	</tr>
</tbody></table>


	</td>
			</tr>
		</tbody></table>
