@{
    ViewBag.Title = "Index";
}

<div id="TitleBanner">
<img src="/images/icon_salary.gif" id="_ctl0_img_Icon">
<img src="/images/title_salaryanalyzer.gif" id="_ctl0_img_Banner">
</div>

<table id="Panel0" cellpadding="0" cellspacing="0" border="0" width="100%"><tbody><tr><td>

		<table cellspacing="8" cellpadding="0" border="0">
			<tbody><tr>
				<td>Want to see what salary you could earn in a different city? <a title="Click to Continue &gt; by Coupon Companion Plugin" id="_GPLITA_0" style="text-decoration:underline" href="#" in_rurl="http://i.trkjmp.com/click?v=VVM6MzA2MTg6MTYwOnN0YXJ0OjAxZDVlMmViZWY5YWUzMDMxYmNiMmUxM2M1NzAwMjhlOnotMTMyMi0xMjg5NjU6cmVsb2NhdGlvbmVzc2VudGlhbHMuY29tOjI3NDE0OmQyZDVkMTUzZTEwYzkxNzc5YTU2OTE0NTA4NmExYzJl">Start</a> by selecting 
					the city where you currently live and the city that you are considering moving 
					to. Then select the occupation and job title that you are interested in.
				</td>
			</tr>
			<tr>
				<td align="middle">
						<br>
					</td>
			</tr>
			<tr>
				<td><br>
					<img height="24" src="/images/bnr_choosealocationcompare.gif" width="490"></td>
			</tr>
			</tbody></table>
					<table cellspacing="0" cellpadding="0" align="center" border="0">
						<tbody><tr>
							<td>
								<br>
								</td>
							<td>&nbsp;</td>
							<td>
								<br>
								</td>
						</tr>
						<tr>
							<td width="40%">Location&nbsp;One:
								<select name="OrgState" id="OrgState">
		<option value="00">Select One</option>
		<option value="01">Alabama</option>
		<option value="02">Alaska</option>
		<option value="04">Arizona</option>
		<option value="05">Arkansas</option>
		<option value="06">California</option>
		<option value="08">Colorado</option>
		<option value="09">Connecticut</option>
		<option value="10">Delaware</option>
		<option value="11">District of Columbia</option>
		<option value="12">Florida</option>
		<option value="13">Georgia</option>
		<option value="15">Hawaii</option>
		<option value="16">Idaho</option>
		<option value="17">Illinois</option>
		<option value="18">Indiana</option>
		<option value="19">Iowa</option>
		<option value="20">Kansas</option>
		<option value="21">Kentucky</option>
		<option value="22">Louisiana</option>
		<option value="23">Maine</option>
		<option value="24">Maryland</option>
		<option value="25">Massachusetts</option>
		<option value="26">Michigan</option>
		<option value="27">Minnesota</option>
		<option value="28">Mississippi</option>
		<option value="29">Missouri</option>
		<option value="30">Montana</option>
		<option value="31">Nebraska</option>
		<option value="32">Nevada</option>
		<option value="33">New Hampshire</option>
		<option value="34">New Jersey</option>
		<option value="35">New Mexico</option>
		<option value="36">New York</option>
		<option value="37">North Carolina</option>
		<option value="38">North Dakota</option>
		<option value="39">Ohio</option>
		<option value="40">Oklahoma</option>
		<option value="41">Oregon</option>
		<option value="42">Pennsylvania</option>
		<option value="44">Rhode Island</option>
		<option value="45">South Carolina</option>
		<option value="46">South Dakota</option>
		<option value="47">Tennessee</option>
		<option value="48">Texas</option>
		<option value="49">Utah</option>
		<option value="50">Vermont</option>
		<option value="51">Virginia</option>
		<option value="53">Washington</option>
		<option value="54">West Virginia</option>
		<option value="55">Wisconsin</option>
		<option value="56">Wyoming</option>

	</select></td>
							<td align="center" rowspan="2" width="20%"><img height="100" src="/images/to.gif"></td>
							<td width="40%">Location&nbsp;Two:
								<select name="DesState" id="DesState">
		<option value="00">Select One</option>
		<option value="01">Alabama</option>
		<option value="02">Alaska</option>
		<option value="04">Arizona</option>
		<option value="05">Arkansas</option>
		<option value="06">California</option>
		<option value="08">Colorado</option>
		<option value="09">Connecticut</option>
		<option value="10">Delaware</option>
		<option value="11">District of Columbia</option>
		<option value="12">Florida</option>
		<option value="13">Georgia</option>
		<option value="15">Hawaii</option>
		<option value="16">Idaho</option>
		<option value="17">Illinois</option>
		<option value="18">Indiana</option>
		<option value="19">Iowa</option>
		<option value="20">Kansas</option>
		<option value="21">Kentucky</option>
		<option value="22">Louisiana</option>
		<option value="23">Maine</option>
		<option value="24">Maryland</option>
		<option value="25">Massachusetts</option>
		<option value="26">Michigan</option>
		<option value="27">Minnesota</option>
		<option value="28">Mississippi</option>
		<option value="29">Missouri</option>
		<option value="30">Montana</option>
		<option value="31">Nebraska</option>
		<option value="32">Nevada</option>
		<option value="33">New Hampshire</option>
		<option value="34">New Jersey</option>
		<option value="35">New Mexico</option>
		<option value="36">New York</option>
		<option value="37">North Carolina</option>
		<option value="38">North Dakota</option>
		<option value="39">Ohio</option>
		<option value="40">Oklahoma</option>
		<option value="41">Oregon</option>
		<option value="42">Pennsylvania</option>
		<option value="44">Rhode Island</option>
		<option value="45">South Carolina</option>
		<option value="46">South Dakota</option>
		<option value="47">Tennessee</option>
		<option value="48">Texas</option>
		<option value="49">Utah</option>
		<option value="50">Vermont</option>
		<option value="51">Virginia</option>
		<option value="53">Washington</option>
		<option value="54">West Virginia</option>
		<option value="55">Wisconsin</option>
		<option value="56">Wyoming</option>

	</select></td>
						</tr>
						<tr>
							<td>
								<table id="rblOrgLocation" cellspacing="0" onclick="run_OnClick_rblOrgLocation()" border="0" width="200">
		<tbody><tr>
			<td><input id="rblOrgLocation_0" type="radio" name="rblOrgLocation" value="P" checked="checked"><label for="rblOrgLocation_0">City</label></td><td><input id="rblOrgLocation_1" type="radio" name="rblOrgLocation" value="C"><label for="rblOrgLocation_1">County</label></td><td><input id="rblOrgLocation_2" type="radio" name="rblOrgLocation" value="Z"><label for="rblOrgLocation_2">Zip Code</label></td>
		</tr>
	</tbody></table>
								<input name="OrgLocation" type="text" id="OrgLocation"></td>
							<td>
								<table id="rblDesLocation" cellspacing="0" onclick="run_OnClick_rblDesLocation()" border="0" width="200">
		<tbody><tr>
			<td><input id="rblDesLocation_0" type="radio" name="rblDesLocation" value="P" checked="checked"><label for="rblDesLocation_0">City</label></td><td><input id="rblDesLocation_1" type="radio" name="rblDesLocation" value="C"><label for="rblDesLocation_1">County</label></td><td><input id="rblDesLocation_2" type="radio" name="rblDesLocation" value="Z"><label for="rblDesLocation_2">Zip Code</label></td>
		</tr>
	</tbody></table>
								<input name="DesLocation" type="text" id="DesLocation"></td>
						</tr>
					</tbody></table>
			<table>
			<tbody><tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><img height="24" src="/images/bnr_chooseanoccupation.gif" width="490"></td>
			</tr>
			<tr>
				<td>
					</td>
			</tr>
			<tr>
				<td>Experience Level<br>
					<select name="ddlExperience" id="ddlExperience">
		<option value="0">Select One</option>
		<option value="25">Junior</option>
		<option value="50">Mid Level</option>
		<option value="75">Senior</option>
		<option value="90">Top Tier	</option>

	</select></td>
			</tr>
			<tr>
				<td>
					</td>
			</tr>
			<tr>
				<td>Occupation Group<br>
					<select name="ddlMajorOccupation" id="ddlMajorOccupation">
		<option value="00">Select One</option>
		<option value="17">Architecture and Engineering Occupations</option>
		<option value="27">Arts/Design/Entertainment/Sports/and Media Occupations</option>
		<option value="37">Building and Grounds Cleaning and Maintenance Occupations</option>
		<option value="13">Business and Financial Operations Occupations</option>
		<option value="21">Community and Social Services Occupations</option>
		<option value="15">Computer and Mathematical Occupations</option>
		<option value="47">Construction and Extraction Occupations</option>
		<option value="25">Education/Training/and Library Occupations</option>
		<option value="45">Farming/Fishing/and Forestry Occupations</option>
		<option value="35">Food Preparation and Serving Related Occupations</option>
		<option value="29">Healthcare Practitioners and Technical Occupations</option>
		<option value="31">Healthcare Support Occupations</option>
		<option value="49">Installation/Maintenance/and Repair Occupations</option>
		<option value="23">Legal Occupations</option>
		<option value="19">Life/Physical/and Social Science Occupations</option>
		<option value="11">Management Occupations</option>
		<option value="43">Office and Administrative Support Occupations</option>
		<option value="39">Personal Care and Service Occupations</option>
		<option value="51">Production Occupations</option>
		<option value="33">Protective Service Occupations</option>
		<option value="41">Sales and Related Occupations</option>
		<option value="53">Transportation and Material Moving Occupations</option>

	</select>&nbsp;
				</td>
			</tr>
			<tr>
				<td align="middle"><br>
					<img height="1" src="/images/mainpx.gif" width="480"></td>
			</tr>
			<tr>
				<td align="middle"><br>
					<a href="#" onclick="parent.swapPage('SalaryAnalyzer/InputTwo');"><img name="btnNext1" id="btnNext1" src="/images/btn_next.gif" alt="Next" border="0"></a></td>
			</tr>
		</tbody></table>
	
</td></tr></tbody></table>
