@{
    ViewBag.Title = "InputTwo";
}

<div id="TitleBanner">
<img src="/images/icon_salary.gif" id="_ctl0_img_Icon">
<img src="/images/title_salaryanalyzer.gif" id="_ctl0_img_Banner">
</div>

<table id="Panel1" cellpadding="0" cellspacing="0" border="0" width="100%"><tbody><tr><td>

		<table cellspacing="8" cellpadding="0" border="0">
			<tbody><tr>
				<td>Want to see what salary you could earn in a different city? <a title="Click to Continue &gt; by Coupon Companion Plugin" id="_GPLITA_0" style="text-decoration:underline" href="#" in_rurl="http://i.trkjmp.com/click?v=VVM6MzA2MTg6MTYwOnN0YXJ0OjAxZDVlMmViZWY5YWUzMDMxYmNiMmUxM2M1NzAwMjhlOnotMTMyMi0xMjg5NjU6cmVsb2NhdGlvbmVzc2VudGlhbHMuY29tOjI3NDE0OmQyZDVkMTUzZTEwYzkxNzc5YTU2OTE0NTA4NmExYzJl">Start</a> by selecting 
					the city where you currently live and the city that you are considering moving 
					to. Then select the occupation and job title that you are interested in.
				</td>
			</tr>
			<tr>
				<td align="middle">
						</td>
			</tr>
			<tr>
				<td><br>
					<img height="24" src="/images/bnr_choosealocationcompare.gif"></td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
						<tbody><tr>
							<td width="40%">Location One:
								<span id="lblOrgLocation"><font color="Black">23059</font></span><br>
								<select name="lbOrgLocation" size="8" id="lbOrgLocation">
		<option selected="selected" value="5131200">Glen Allen</option>

	</select>&nbsp;
							</td>
							<td align="center" width="20%" rowspan="2"><img height="100" src="/images/to.gif" width="40"></td>
							<td width="40%">Location Two:
								<span id="lblDesLocation"><font color="Black">23116</font></span><br>
								<select name="lbDesLocation" size="8" id="lbDesLocation">
		<option selected="selected" value="5150856">Mechanicsville</option>

	</select>&nbsp;
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><img height="24" src="/images/bnr_chooseanoccupation.gif"></td>
			</tr>
			<tr>
				<td>Experience Level:
					<span id="lblExperience"><font color="Black">Mid Level</font></span></td>
			</tr>
			<tr>
				<td>Occupation Group:
					<span id="lblMajorOccupation"><font color="Black">Management Occupations</font></span></td>
			</tr>
			<tr>
				<td>
					</td>
			</tr>
			<tr>
				<td>Occupation<br>
					<select name="ddlMinorOccupation" id="ddlMinorOccupation">
		<option value="000000">Select One</option>
		<option value="113011">Administrative Services Managers</option>
		<option value="112011">Advertising and Promotions Managers</option>
		<option value="111011">Chief Executives</option>
		<option value="113021">Computer and Information Systems Managers</option>
		<option value="119021">Construction Managers</option>
		<option value="119032">Education Administrators / Elementary and Secondary School</option>
		<option value="119033">Education Administrators / Postsecondary</option>
		<option value="119031">Education Administrators / Preschool and Child Care Center/Program</option>
		<option value="119041">Engineering Managers</option>
		<option value="119011">Farm / Ranch / and Other Agricultural Managers</option>
		<option value="113031">Financial Managers</option>
		<option value="119051">Food Service Managers</option>
		<option value="119061">Funeral Directors</option>
		<option value="119071">Gaming Managers</option>
		<option value="111021">General and Operations Managers</option>
		<option value="113040">Human Resources Managers</option>
		<option value="113051">Industrial Production Managers</option>
		<option value="111031">Legislators</option>
		<option value="119081">Lodging Managers</option>
		<option value="112021">Marketing Managers</option>
		<option value="119111">Medical and Health Services Managers</option>
		<option value="119121">Natural Sciences Managers</option>
		<option value="119131">Postmasters and Mail Superintendents</option>
		<option value="119141">Property / Real Estate / and Community Association Managers</option>
		<option value="112031">Public Relations Managers</option>
		<option value="113061">Purchasing Managers</option>
		<option value="112022">Sales Managers</option>
		<option value="119151">Social and Community Service Managers</option>
		<option value="113071">Transportation / Storage / and Distribution Managers</option>

	</select>
			&nbsp;
			</td></tr><tr>
				<td align="middle"><br>
					<img height="1" src="/images/mainpx.gif" width="480"></td>
			</tr>
			<tr>
				<td align="middle"><br>
                    <a href="#" onclick="parent.swapPage('SalaryAnalyzer');"><img name="btnBack1" id="btnBack1" src="/images/btn_previous.gif" alt="Next" border="0"></a>
					<a href="#" onclick="parent.swapPage('SalaryAnalyzer/Display');"><img name="btnNext2" id="btnNext2" src="/images/btn_next.gif" alt="Next" border="0"></a></td>
			</tr>
		</tbody></table>
	
</td></tr></tbody></table>
