@{
    ViewBag.Title = "ChoosePlace";
}
<script type="text/javascript">
    var place = document.getElementById("Place");

    toDisplay = function () {
        if (place.value != "")
            parent.swapPage("CommunityComparison/DisplayPlace?Place=" + place.value);
    }
</script>
    <div id="main">
        <img src="/images/icon_commcompare.gif" />
        <img src="/images/title_communityinformation.gif" />
        <br />
        <img src="/images/bnr_choosealocation.gif" />
        <br />
        <span style="float:left; width:33%">
            Origin
            <br />
            @Html.DropDownList("Place", (IEnumerable<SelectListItem>) ViewBag.SE)
        </span>
        <div>
            <img height="1px" src="/images/mainpx.gif" width="470px" />
        </div>
        <br />
        <a href="#" onclick="javascript:toDisplay()"><img src="/images/btn_submit.gif" /></a>
    </div>
