@{
    ViewBag.Title = "ChoosePlaceForTwo";
}
<script type="text/javascript">
    var place1 = document.getElementById("Place1"),
        place2 = document.getElementById("Place2");

    toCompare = function () {
        if (place1.value != "" && place2.value != "") {
            parent.swapPage("CommunityComparison/ComparePlace?Place1=" + place1.value + "&Place2=" + place2.value);
        }
    }

</script>
    <div id="main">
        <img src="/images/icon_commcompare.gif" />
        <img src="/images/title_communityinformation.gif" />
        <br />
        <img src="/images/bnr_choosealocation.gif" />
        <br />
        <span style="float:left; width:33%">
            Origin
            <br />
            @Html.DropDownList("Place1", (IEnumerable<SelectListItem>) ViewBag.S1E)
        </span>
        <span style="float:left; width:15%">
            <img src="/images/to.gif" />
        </span>
        <span style="float:left; width:33%">
            Destination
            <br />
            @Html.DropDownList("Place2", (IEnumerable<SelectListItem>) ViewBag.S2E)
        </span>
        <div>
            <img height="1px" src="/images/mainpx.gif" width="470px" />
        </div>
        <br />
        <a href="#" onclick="javascript:toCompare()"><img src="/images/btn_submit.gif" /></a>
    </div>
