@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    selectSwap = function () {
        var zip1 = document.getElementById('Zip1'),
            zip2 = document.getElementById('Zip2'),
            SL1 = document.getElementById('StateList1'),
            SL2 = document.getElementById('StateList2');
        if (zip1.value == "")
            if (SL2.value != "")
                parent.swapPage('CommunityComparison/ChoosePlaceForTwo?State1=' + SL1.value + '&State2=' + SL2.value);
            else
                parent.swapPage('CommunityComparison/ChoosePlace?State=' + SL1.value);
        else
            if (zip2.value != "")
                parent.swapPage('CommunityComparison/CompareZip?Zip1=' + zip1.value + '&Zip2=' + zip2.value);
            else
                parent.swapPage('CommunityComparison/DisplayZip?Zip=' + zip1.value);
    }
</script>
    <div id="main">
        <img src="/images/icon_commcompare.gif" />
        <img src="/images/title_communityinformation.gif" />
        <div id="firstPage">
            <div class="text" >
                You can choose two (2) locations to compare. If you are only interested in your local area, simply select origin information. If you would like to compare locations side-by-side enter both origin and destination information. Once the results are produced, you will be given the opportunity to add one additional location to your comparison analysis.
            </div>
            <br />
            <img src="/images/bnr_choosealocation.gif" />
            <div class="centered">
                <span style="width:33%; float:left">
                    Origin State
                    <br />
                    @Html.DropDownList("StateList1", (IEnumerable<SelectListItem>) ViewBag.States)
                    <br />
                    Destination State
                    <br />
                    @Html.DropDownList("StateList2", (IEnumerable<SelectListItem>) ViewBag.States)
                </span>
                <span style="width:15%; float:left">
                    <img src="/images/or.gif" />
                </span>
                <span style="width:33%; float:left">
                    Origin Zip
                    <br />
                    @Html.Editor("Zip1")
                    <br />
                    Destination Zip
                    <br />
                    @Html.Editor("Zip2")
                </span>
                <div>
                    <img height="1px" src="/images/mainpx.gif" width="470px" />
                </div>
                <br />
                <a href="#" onclick="javascript:selectSwap();"><img src="images/btn_submit.gif" border="0" /></a>
            </div>
        </div>
        <div id="content">

        </div>
    </div>