@{
    ViewBag.Title = "Display";
}

<table align="center" cellspacing="0" cellpadding="0" border="0" width="550" id="ReloWrappingTable"><tbody><tr><td>
<div id="TitleBanner">
<img src="/images/icon_commexplore.gif" id="_ctl1_img_Icon">
<img src="/images/title_communityexplorer.gif" id="_ctl1_img_Banner">
</div><form name="Results" method="post" action="Results.aspx" id="Results">
<input type="hidden" name="__EVENTTARGET" value="">
<input type="hidden" name="__EVENTARGUMENT" value="">
<input type="hidden" name="__VIEWSTATE" value="dDwyMDE4NzQ2OTQzO3Q8cDxsPEhvdXNlVmFsTWF4O0FnZTtDdXJQYWdlO0luY29tZU1pbjtJbmNvbWU7QkFOTkVSX1VSTDtTY2hvb2w7RGlzdGFuY2U7UmVzdWx0c1BlclBhZ2U7WmlwO1N0YXRlTGlzdDtIb3VzZVZhbDtNYXJpdGFsU3RhdHVzO1NlYXJjaFR5cGU7SW5jb21lTWF4O0NpdHlMaXN0O093bmVkO01hcml0YWw7SG91c2VWYWxNaW47PjtsPGk8MTUwMDAwPjsxODtpPDA+O2k8MT47aTwyNT47XGU7MDs1OzEwOzc0MzQ7NTE7aTwxMDA+O2k8MT47ZXhwbG9yZXIuY29tcG9uZW50cy5TZWFyY2hUeXBlLCBleHBsb3JlciwgVmVyc2lvbj0wLjAuMC4wLCBDdWx0dXJlPW5ldXRyYWwsIFB1YmxpY0tleVRva2VuPW51bGw8Q2l0eT47aTw1MDAwMD47NzQzNDsxOzE7aTwxMDAwMDA+Oz4+O2w8aTwxPjtpPDM+O2k8ND47PjtsPHQ8O2w8aTwwPjtpPDE+O2k8Mj47aTwzPjtpPDQ+O2k8NT47aTw2PjtpPDc+O2k8OD47PjtsPHQ8cDxsPFZpc2libGU7PjtsPG88dD47Pj47Oz47dDxwPGw8VmlzaWJsZTs+O2w8bzx0Pjs+Pjs7Pjt0PHA8bDxWaXNpYmxlOz47bDxvPHQ+Oz4+Ozs+O3Q8cDxsPFZpc2libGU7PjtsPG88dD47Pj47Oz47dDxwPGw8VmlzaWJsZTs+O2w8bzx0Pjs+Pjs7Pjt0PHA8bDxWaXNpYmxlOz47bDxvPHQ+Oz4+Ozs+O3Q8cDxsPFZpc2libGU7PjtsPG88dD47Pj47Oz47dDxwPGw8VmlzaWJsZTs+O2w8bzx0Pjs+Pjs7Pjt0PHA8bDxWaXNpYmxlOz47bDxvPHQ+Oz4+Ozs+Oz4+O3Q8O2w8aTwxPjtpPDM+Oz47bDx0PHA8bDxzcmM7PjtsPC9zaXRlcy93d3cvaW1hZ2VzL2ljb25fY29tbWV4cGxvcmUuZ2lmOz4+Ozs+O3Q8cDxsPHNyYzs+O2w8L3NpdGVzL3d3dy9pbWFnZXMvdGl0bGVfY29tbXVuaXR5ZXhwbG9yZXIuZ2lmOz4+Ozs+Oz4+O3Q8O2w8aTwxPjtpPDI+O2k8Mz47aTw0PjtpPDU+O2k8Nj47aTw3PjtpPDg+O2k8MTA+O2k8MTM+Oz47bDx0PHA8cDxsPFRleHQ7PjtsPExvY2F0aW9uOz4+Oz47Oz47dDxwPHA8bDxUZXh0Oz47bDxHbGVuIEFsbGVuLCBWaXJnaW5pYTs+Pjs+Ozs+O3Q8cDxwPGw8VGV4dDs+O2w8U2luZ2xlOz4+Oz47Oz47dDxwPHA8bDxUZXh0Oz47bDwxOCB0byAyOTs+Pjs+Ozs+O3Q8cDxwPGw8VGV4dDs+O2w8TGVzcyBUaGFuICQ1MGs7Pj47Pjs7Pjt0PHA8cDxsPFRleHQ7PjtsPCQxMDBrIC0gJDE1MGs7Pj47Pjs7Pjt0PHA8cDxsPFRleHQ7PjtsPE1ham9yaXR5IE93bmVkIChcPjYxJSk7Pj47Pjs7Pjt0PHA8cDxsPFRleHQ7PjtsPERvbid0IGNhcmU7Pj47Pjs7Pjt0PHA8cDxsPFRleHQ7PjtsPDEwIGNvbW11bml0aWVzIGZvdW5kLjs+Pjs+Ozs+O3Q8cDxsPF8hSXRlbUNvdW50Oz47bDxpPDEwPjs+PjtsPGk8MD47aTwxPjtpPDI+O2k8Mz47aTw0PjtpPDU+O2k8Nj47aTw3PjtpPDg+O2k8OT47PjtsPHQ8O2w8aTwwPjtpPDE+O2k8Mj47aTwzPjtpPDQ+O2k8NT47aTw2Pjs+O2w8dDxAPFJpY2htb25kO1ZpcmdpbmlhOzIzMjI4OzQ7Njs+Ozs+O3Q8QDwyMzIyODs+Ozs+O3Q8QDxDRWdvO0NFZ287MjglIGFyZSBTaW5nbGU7Pjs7Pjt0PHA8cDxsPFZpc2libGU7PjtsPG88Zj47Pj47PjtsPGk8MD47PjtsPHQ8QDwyOSU7MjclOzIxJTsyMyU7Pjs7Pjs+Pjt0PEA8Q0VzdG9wO0NFc3RvcDsxOCUgYXJlIDE4IHRvIDI5O0NFZ287Q0VnbzskNDUsNzE2O0NFZ287Q0VnbzskMTM4LDA3MDtDRWdvO0NFZ287NTIlO0NFeWllbGQ7Q0V5aWVsZDswJSB3aXRoIGF0IGxlYXN0IGEgRG9uJ3QgY2FyZTtJbm5lciBTdWJ1cmJzOz47Oz47dDw7bDxpPDE+Oz47bDx0PDtsPGk8MD47PjtsPHQ8QDxMb3c7Pjs7Pjs+Pjs+Pjt0PEA8QWJvdmUgQXZlcmFnZTs+Ozs+Oz4+O3Q8O2w8aTwwPjtpPDE+O2k8Mj47aTwzPjtpPDQ+O2k8NT47aTw2Pjs+O2w8dDxAPFJpY2htb25kO1ZpcmdpbmlhOzIzMjMwOzQ7Njs+Ozs+O3Q8QDwyMzIzMDs+Ozs+O3Q8QDxDRWdvO0NFZ287MzElIGFyZSBTaW5nbGU7Pjs7Pjt0PHA8cDxsPFZpc2libGU7PjtsPG88Zj47Pj47PjtsPGk8MD47PjtsPHQ8QDwzMiU7MjclOzE4JTsyMiU7Pjs7Pjs+Pjt0PEA8Q0VzdG9wO0NFc3RvcDsxOCUgYXJlIDE4IHRvIDI5O0NFZ287Q0VnbzskNDMsNjU1O0NFZ287Q0VnbzskMTQ1LDkyOTtDRWdvO0NFZ287NTAlO0NFeWllbGQ7Q0V5aWVsZDswJSB3aXRoIGF0IGxlYXN0IGEgRG9uJ3QgY2FyZTsybmQgQ2l0eSBDZW50ZXJzOz47Oz47dDw7bDxpPDE+Oz47bDx0PDtsPGk8MD47PjtsPHQ8QDxMb3c7Pjs7Pjs+Pjs+Pjt0PEA8QWJvdmUgQXZlcmFnZTs+Ozs+Oz4+O3Q8O2w8aTwwPjtpPDE+O2k8Mj47aTwzPjtpPDQ+O2k8NT47aTw2Pjs+O2w8dDxAPFJpY2htb25kO1ZpcmdpbmlhOzIzMjMxOzM7Njs+Ozs+O3Q8QDwyMzIzMTs+Ozs+O3Q8QDxDRXN0b3A7Q0VzdG9wOzI3JSBhcmUgU2luZ2xlOz47Oz47dDxwPHA8bDxWaXNpYmxlOz47bDxvPGY+Oz4+Oz47bDxpPDA+Oz47bDx0PEA8MjQlOzI3JTsyNSU7MjMlOz47Oz47Pj47dDxAPENFc3RvcDtDRXN0b3A7MTQlIGFyZSAxOCB0byAyOTtDRWdvO0NFZ287JDQ3LDM1NTtDRWdvO0NFZ287JDE0OCw4NTc7Q0VnbztDRWdvOzY5JTtDRXlpZWxkO0NFeWllbGQ7MCUgd2l0aCBhdCBsZWFzdCBhIERvbid0IGNhcmU7SW5uZXIgU3VidXJiczs+Ozs+O3Q8O2w8aTwxPjs+O2w8dDw7bDxpPDA+Oz47bDx0PEA8TW9kZXJhdGU7Pjs7Pjs+Pjs+Pjt0PEA8QXZlcmFnZTs+Ozs+Oz4+O3Q8O2w8aTwwPjtpPDE+O2k8Mj47aTwzPjtpPDQ+O2k8NT47aTw2Pjs+O2w8dDxAPEhpZ2hsYW5kIFNwcmluZ3M7VmlyZ2luaWE7MjMwNzU7Mzs2Oz47Oz47dDxAPDIzMDc1Oz47Oz47dDxAPENFc3RvcDtDRXN0b3A7MjYlIGFyZSBTaW5nbGU7Pjs7Pjt0PHA8cDxsPFZpc2libGU7PjtsPG88Zj47Pj47PjtsPGk8MD47PjtsPHQ8QDwyNiU7MjglOzIzJTsyMiU7Pjs7Pjs+Pjt0PEA8Q0VzdG9wO0NFc3RvcDsxNyUgYXJlIDE4IHRvIDI5O0NFZ287Q0VnbzskNDcsMDk3O0NFZ287Q0VnbzskMTE2LDY1MTtDRWdvO0NFZ287NjAlO0NFeWllbGQ7Q0V5aWVsZDswJSB3aXRoIGF0IGxlYXN0IGEgRG9uJ3QgY2FyZTtVcmJhbiBCbHVlczs+Ozs+O3Q8O2w8aTwxPjs+O2w8dDw7bDxpPDA+Oz47bDx0PEA8TW9kZXJhdGU7Pjs7Pjs+Pjs+Pjt0PEA8QXZlcmFnZTs+Ozs+Oz4+O3Q8O2w8aTwwPjtpPDE+O2k8Mj47aTwzPjtpPDQ+O2k8NT47aTw2Pjs+O2w8dDxAPFJpY2htb25kO1ZpcmdpbmlhOzIzMjk0OzM7Njs+Ozs+O3Q8QDwyMzI5NDs+Ozs+O3Q8QDxDRWdvO0NFZ287MzclIGFyZSBTaW5nbGU7Pjs7Pjt0PHA8cDxsPFZpc2libGU7PjtsPG88Zj47Pj47PjtsPGk8MD47PjtsPHQ8QDwyNyU7MjclOzIyJTsyNCU7Pjs7Pjs+Pjt0PEA8Q0VnbztDRWdvOzI1JSBhcmUgMTggdG8gMjk7Q0VnbztDRWdvOyQ0NSwyMTY7Q0VzdG9wO0NFc3RvcDskMTY2LDU3ODtDRXN0b3A7Q0VzdG9wOzMxJTtDRXlpZWxkO0NFeWllbGQ7MCUgd2l0aCBhdCBsZWFzdCBhIERvbid0IGNhcmU7SW5uZXIgU3VidXJiczs+Ozs+O3Q8O2w8aTwxPjs+O2w8dDw7bDxpPDA+Oz47bDx0PEA8TG93Oz47Oz47Pj47Pj47dDxAPEFib3ZlIEF2ZXJhZ2U7Pjs7Pjs+Pjt0PDtsPGk8MD47aTwxPjtpPDI+O2k8Mz47aTw0PjtpPDU+O2k8Nj47PjtsPHQ8QDxTYW5kc3RvbjtWaXJnaW5pYTsyMzE1MDsxOzY7Pjs7Pjt0PEA8MjMxNTA7Pjs7Pjt0PEA8Q0VzdG9wO0NFc3RvcDsyMSUgYXJlIFNpbmdsZTs+Ozs+O3Q8cDxwPGw8VmlzaWJsZTs+O2w8bzxmPjs+Pjs+O2w8aTwwPjs+O2w8dDxAPDI1JTsyNyU7MjMlOzI1JTs+Ozs+Oz4+O3Q8QDxDRXN0b3A7Q0VzdG9wOzE0JSBhcmUgMTggdG8gMjk7Q0VzdG9wO0NFc3RvcDskNTIsMTMyO0NFc3RvcDtDRXN0b3A7JDE1MSw5Mzk7Q0VnbztDRWdvOzgxJTtDRXlpZWxkO0NFeWllbGQ7MCUgd2l0aCBhdCBsZWFzdCBhIERvbid0IGNhcmU7VXJiYW4gQmx1ZXM7Pjs7Pjt0PDtsPGk8MT47PjtsPHQ8O2w8aTwwPjs+O2w8dDxAPExvdzs+Ozs+Oz4+Oz4+O3Q8QDxBYm92ZSBBdmVyYWdlOz47Oz47Pj47dDw7bDxpPDA+O2k8MT47aTwyPjtpPDM+O2k8ND47aTw1PjtpPDY+Oz47bDx0PEA8R2xlbiBBbGxlbjtWaXJnaW5pYTsyMzA1OTsxOzY7Pjs7Pjt0PEA8MjMwNTk7Pjs7Pjt0PEA8Q0VzdG9wO0NFc3RvcDsxOSUgYXJlIFNpbmdsZTs+Ozs+O3Q8cDxwPGw8VmlzaWJsZTs+O2w8bzxmPjs+Pjs+O2w8aTwwPjs+O2w8dDxAPDI2JTszMSU7MjIlOzIxJTs+Ozs+Oz4+O3Q8QDxDRXN0b3A7Q0VzdG9wOzExJSBhcmUgMTggdG8gMjk7Q0VzdG9wO0NFc3RvcDskNjEsNjcxO0NFc3RvcDtDRXN0b3A7JDMxNSw0MzY7Q0VnbztDRWdvOzg3JTtDRXlpZWxkO0NFeWllbGQ7MCUgd2l0aCBhdCBsZWFzdCBhIERvbid0IGNhcmU7TGFuZGVkIEdlbnRyeTs+Ozs+O3Q8O2w8aTwxPjs+O2w8dDw7bDxpPDA+Oz47bDx0PEA8TG93Oz47Oz47Pj47Pj47dDxAPE5vdCBDbGFzc2lmaWVkOz47Oz47Pj47dDw7bDxpPDA+O2k8MT47aTwyPjtpPDM+O2k8ND47aTw1PjtpPDY+Oz47bDx0PEA8R2xlbiBBbGxlbjtWaXJnaW5pYTsyMzA2MDsxOzY7Pjs7Pjt0PEA8MjMwNjA7Pjs7Pjt0PEA8Q0VzdG9wO0NFc3RvcDsyNCUgYXJlIFNpbmdsZTs+Ozs+O3Q8cDxwPGw8VmlzaWJsZTs+O2w8bzxmPjs+Pjs+O2w8aTwwPjs+O2w8dDxAPDMxJTsyOCU7MjElOzIxJTs+Ozs+Oz4+O3Q8QDxDRXN0b3A7Q0VzdG9wOzE3JSBhcmUgMTggdG8gMjk7Q0VzdG9wO0NFc3RvcDskNTcsNDMzO0NFc3RvcDtDRXN0b3A7JDIwNiwwMjc7Q0VnbztDRWdvOzc0JTtDRXlpZWxkO0NFeWllbGQ7MCUgd2l0aCBhdCBsZWFzdCBhIERvbid0IGNhcmU7VGhlIEFmZmx1ZW50aWFsczs+Ozs+O3Q8O2w8aTwxPjs+O2w8dDw7bDxpPDA+Oz47bDx0PEA8TG93Oz47Oz47Pj47Pj47dDxAPEFib3ZlIEF2ZXJhZ2U7Pjs7Pjs+Pjt0PDtsPGk8MD47aTwxPjtpPDI+O2k8Mz47aTw0PjtpPDU+O2k8Nj47PjtsPHQ8QDxSaWNobW9uZDtWaXJnaW5pYTsyMzIzMzsxOzY7Pjs7Pjt0PEA8MjMyMzM7Pjs7Pjt0PEA8Q0VzdG9wO0NFc3RvcDsyNCUgYXJlIFNpbmdsZTs+Ozs+O3Q8cDxwPGw8VmlzaWJsZTs+O2w8bzxmPjs+Pjs+O2w8aTwwPjs+O2w8dDxAPDI4JTsyOSU7MjIlOzIwJTs+Ozs+Oz4+O3Q8QDxDRXN0b3A7Q0VzdG9wOzE0JSBhcmUgMTggdG8gMjk7Q0VzdG9wO0NFc3RvcDskNjYsOTkyO0NFc3RvcDtDRXN0b3A7JDI2NCw1ODQ7Q0VnbztDRWdvOzY2JTtDRXlpZWxkO0NFeWllbGQ7MCUgd2l0aCBhdCBsZWFzdCBhIERvbid0IGNhcmU7RWxpdGUgU3VidXJiczs+Ozs+O3Q8O2w8aTwxPjs+O2w8dDw7bDxpPDA+Oz47bDx0PEA8TG93Oz47Oz47Pj47Pj47dDxAPEhpZ2g7Pjs7Pjs+Pjt0PDtsPGk8MD47aTwxPjtpPDI+O2k8Mz47aTw0PjtpPDU+O2k8Nj47PjtsPHQ8QDxSaWNobW9uZDtWaXJnaW5pYTsyMzIyOTsxOzY7Pjs7Pjt0PEA8MjMyMjk7Pjs7Pjt0PEA8Q0VzdG9wO0NFc3RvcDsyNCUgYXJlIFNpbmdsZTs+Ozs+O3Q8cDxwPGw8VmlzaWJsZTs+O2w8bzxmPjs+Pjs+O2w8aTwwPjs+O2w8dDxAPDI0JTsyNyU7MjQlOzI0JTs+Ozs+Oz4+O3Q8QDxDRXN0b3A7Q0VzdG9wOzEzJSBhcmUgMTggdG8gMjk7Q0VzdG9wO0NFc3RvcDskNjIsNzI1O0NFc3RvcDtDRXN0b3A7JDIzMiwyMjM7Q0VnbztDRWdvOzY5JTtDRXlpZWxkO0NFeWllbGQ7MCUgd2l0aCBhdCBsZWFzdCBhIERvbid0IGNhcmU7VGhlIEFmZmx1ZW50aWFsczs+Ozs+O3Q8O2w8aTwxPjs+O2w8dDw7bDxpPDA+Oz47bDx0PEA8TG93Oz47Oz47Pj47Pj47dDxAPEhpZ2g7Pjs7Pjs+Pjs+Pjs+Pjs+Pjs+QKxyTus5nnyUOJjON0wR868Yygw=">

<script language="javascript" type="text/javascript">
<!--
	function __doPostBack(eventTarget, eventArgument) {
		var theform;
		if (window.navigator.appName.toLowerCase().indexOf("microsoft") > -1) {
			theform = document.Results;
		}
		else {
			theform = document.forms["Results"];
		}
		theform.__EVENTTARGET.value = eventTarget.split("$").join(":");
		theform.__EVENTARGUMENT.value = eventArgument;
		theform.submit();
	}
// -->
</script>

<script>
	function autocheckboxes(theForm,theList){
		if(theForm){
			if(theForm.length){
				theList=theList + ',';
				for (i=0;i<theform.length;i++){
					test=new regexp(theform[i].value + ',');
					if(thelist.search(test) != -1) theform[i].checked=true;
				}
			}else{
				if(theform.value == theList) theform.checked=true;
			}
		}
	}

	function getclick(thefield){
		theform=document.Results;
		if (thefield.checked==false)
		{
			test=new regexp(thefield.value + ',');
			theform.compareZips.value = theForm.compareZips.value.replace(test,'');
		}
		else
		{
			var temparray = theform.compareZips.value.split(",");
			if(temparray.length  <= 2){
				theform.compareZips.value = theform.compareZips.value + thefield.value + ",";
			}else{
				alert("You can only choose 2 locations to compare at a time.");
				thefield.checked=false;
			}
		}
	}

	function getzipcomparisons(){
		if (document.Results.compareZips.value.length > 0){	
			allZips = document.Results.compareZips.value;
			allZips = allZips.substring(0,(allZips.length-1));
			document.location.href="../community/results.aspx?type=Zip&location=" + allZips;
		}else{
			alert("Please choose one or more communities to compare.");
		}
	}
</script>
<table id="Table1" cellspacing="5" cellpadding="0" width="500" border="0">
  
  <tbody><tr>
    <td><img height="24" alt="Community Information" src="/images/bnr_Community_Information.gif" width="490"></td></tr>
  <tr>
    <td class="bgcolor2">
      <table cellspacing="5" cellpadding="0" width="500" border="0">
        <tbody><tr valign="top">
          <td nowrap="" width="145" class="bgcolor2"><br><strong><span id="LocationType">Location</span></strong></td>
          <td class="bgcolor2" width="145"><br><span id="Location">Glen Allen, Virginia</span></td>
          <td width="190" rowspan="8">
            <table cellspacing="0" cellpadding="4" width="100%" border="0">
              <tbody><tr>
                <td align="left" class="bgcolor2">
                  <div align="center"><b>LEGEND</b></div><br>
                  <div class="CEgo">This color indicates criteria matched your 
                  selection.</div><br>
                  <div class="CEyield">This color indicates you did not care about 
                  this selection</div><br>
                  <div class="CEstop">This color indicates criteria did not 
                  matched your selection.</div><br>
                  <div>This color indicates information is given to 
                  you.</div><br></td></tr></tbody></table></td></tr>
        <tr>
          <td nowrap="" class="bgcolor2"><strong>Family Environment:</strong> </td>
          <td class="bgcolor2"><span id="Marital">Single</span></td></tr>
        <tr>
          <td nowrap="" class="bgcolor2"><strong>Age Group:</strong> </td>
          <td class="bgcolor2"><span id="Age">18 to 29</span></td></tr>
        <tr>
          <td nowrap="" class="bgcolor2"><strong>Househould Income:</strong> </td>
          <td class="bgcolor2"><span id="Income">Less Than $50k</span></td></tr>
        <tr>
          <td nowrap="" class="bgcolor2"><strong>Home Value:</strong> </td>
          <td class="bgcolor2"><span id="HouseVal">$100k - $150k</span></td></tr>
        <tr>
          <td nowrap="" class="bgcolor2"><strong>Home Ownership:</strong> </td>
          <td class="bgcolor2"><span id="Owned">Majority Owned (&gt;61%)</span></td></tr>
        <tr>
          <td nowrap="" class="bgcolor2"><strong>Academic Achievement:</strong> </td>
          <td class="bgcolor2"><span id="School">Don't care</span></td></tr>
        <tr>
          <td align="middle" colspan="2" class="bgcolor2"><a id="lbtnEdit" href="javascript:parent.swapPage('CommunityExplorer');"><u>Edit Your Results</u></a></td></tr></tbody></table></td></tr></tbody></table>
          
          
          
<table id="Table4" cellspacing="1" cellpadding="0" width="500" border="0">
  <tbody><tr>
    <td align="left" width="100"><img height="10" src="/sharedimages/transparent.gif" width="100" border="0"></td>
    <td align="middle" width="100%"><br><b><span id="Communities">10 communities found.</span></b><br><br></td>
    <td align="right" width="100"><img height="10" src="/sharedimages/transparent.gif" width="100" border="0"></td></tr>
  <tr>
    <td align="left" width="100"></td>
    <td align="middle" width="100%"><a href="javascript: getzipcomparisons()"><img alt="Compare" src="/images/btn_compare.gif" border="0"></a></td>
    <td align="right" width="100"></td></tr></tbody></table><br>
<table id="Table5" cellspacing="0" cellpadding="2" width="500" border="0">
				<tbody><tr valign="baseline">
					<td align="left" class="textsize2">
						<b>
							Richmond
							,
							Virginia
							(23228)</b>
					</td>
					<td>
						Matched
						4
						out of
						6
						criteria
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td bgcolor="ffffcc" align="left" style="padding:0px">
						&nbsp;
						
					</td>
					<td bgcolor="ffffcc" align="right" style="padding:0px">
						Send to Community Comparison <input type="checkbox" value="23228" name="compare" id="compare" onclick="getclick(this)">&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td class="CEgo">
						<b>Family Enviroment:</b>
					</td>
					<td class="CEgo">
						28% are Single
					</td>
				</tr>
				
				<tr>
					<td class="CEstop"><b>Age 
							Group:</b>
					</td>
					<td class="CEstop">
						18% are 18 to 29
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Median 
							Househould Income:</b>
					</td>
					<td class="CEgo">
						$45,716
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Median 
							Home Value:</b>
					</td>
					<td class="CEgo">
						$138,070
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Home 
							Ownership:</b>
					</td>
					<td class="CEgo">
						52%
						Owned
					</td>
				</tr>
				<tr>
					<td class="CEyield"><b>Academic 
							Makeup:</b>
					</td>
					<td class="CEyield">
						0% with at least a Don't care
					</td>
				</tr>
				<tr>
					<td><b>Community Type :</b></td>
					<td>Inner Suburbs</td>
				</tr>
				<tr id="Repeater1__ctl0_CrimeIndex">
	<td><b>Crime Index:</b></td>
	<td>Low</td>
</tr>

				<tr>
					<td><b>Education Index:</b></td>
					<td>Above Average</td>
				</tr>
				<tr>
					<td><br>
						<br>
					</td>
				</tr>
			
				<tr valign="baseline">
					<td align="left" class="textsize2">
						<b>
							Richmond
							,
							Virginia
							(23230)</b>
					</td>
					<td>
						Matched
						4
						out of
						6
						criteria
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td bgcolor="ffffcc" align="left" style="padding:0px">
						&nbsp;
						
					</td>
					<td bgcolor="ffffcc" align="right" style="padding:0px">
						Send to Community Comparison <input type="checkbox" value="23230" name="compare" id="compare" onclick="getclick(this)">&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td class="CEgo">
						<b>Family Enviroment:</b>
					</td>
					<td class="CEgo">
						31% are Single
					</td>
				</tr>
				
				<tr>
					<td class="CEstop"><b>Age 
							Group:</b>
					</td>
					<td class="CEstop">
						18% are 18 to 29
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Median 
							Househould Income:</b>
					</td>
					<td class="CEgo">
						$43,655
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Median 
							Home Value:</b>
					</td>
					<td class="CEgo">
						$145,929
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Home 
							Ownership:</b>
					</td>
					<td class="CEgo">
						50%
						Owned
					</td>
				</tr>
				<tr>
					<td class="CEyield"><b>Academic 
							Makeup:</b>
					</td>
					<td class="CEyield">
						0% with at least a Don't care
					</td>
				</tr>
				<tr>
					<td><b>Community Type :</b></td>
					<td>2nd City Centers</td>
				</tr>
				<tr id="Repeater1__ctl1_CrimeIndex">
	<td><b>Crime Index:</b></td>
	<td>Low</td>
</tr>

				<tr>
					<td><b>Education Index:</b></td>
					<td>Above Average</td>
				</tr>
				<tr>
					<td><br>
						<br>
					</td>
				</tr>
			
				<tr valign="baseline">
					<td align="left" class="textsize2">
						<b>
							Richmond
							,
							Virginia
							(23231)</b>
					</td>
					<td>
						Matched
						3
						out of
						6
						criteria
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td bgcolor="ffffcc" align="left" style="padding:0px">
						&nbsp;
						
					</td>
					<td bgcolor="ffffcc" align="right" style="padding:0px">
						Send to Community Comparison <input type="checkbox" value="23231" name="compare" id="compare" onclick="getclick(this)">&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td class="CEstop">
						<b>Family Enviroment:</b>
					</td>
					<td class="CEstop">
						27% are Single
					</td>
				</tr>
				
				<tr>
					<td class="CEstop"><b>Age 
							Group:</b>
					</td>
					<td class="CEstop">
						14% are 18 to 29
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Median 
							Househould Income:</b>
					</td>
					<td class="CEgo">
						$47,355
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Median 
							Home Value:</b>
					</td>
					<td class="CEgo">
						$148,857
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Home 
							Ownership:</b>
					</td>
					<td class="CEgo">
						69%
						Owned
					</td>
				</tr>
				<tr>
					<td class="CEyield"><b>Academic 
							Makeup:</b>
					</td>
					<td class="CEyield">
						0% with at least a Don't care
					</td>
				</tr>
				<tr>
					<td><b>Community Type :</b></td>
					<td>Inner Suburbs</td>
				</tr>
				<tr id="Repeater1__ctl2_CrimeIndex">
	<td><b>Crime Index:</b></td>
	<td>Moderate</td>
</tr>

				<tr>
					<td><b>Education Index:</b></td>
					<td>Average</td>
				</tr>
				<tr>
					<td><br>
						<br>
					</td>
				</tr>
			
				<tr valign="baseline">
					<td align="left" class="textsize2">
						<b>
							Highland Springs
							,
							Virginia
							(23075)</b>
					</td>
					<td>
						Matched
						3
						out of
						6
						criteria
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td bgcolor="ffffcc" align="left" style="padding:0px">
						&nbsp;
						
					</td>
					<td bgcolor="ffffcc" align="right" style="padding:0px">
						Send to Community Comparison <input type="checkbox" value="23075" name="compare" id="compare" onclick="getclick(this)">&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td class="CEstop">
						<b>Family Enviroment:</b>
					</td>
					<td class="CEstop">
						26% are Single
					</td>
				</tr>
				
				<tr>
					<td class="CEstop"><b>Age 
							Group:</b>
					</td>
					<td class="CEstop">
						17% are 18 to 29
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Median 
							Househould Income:</b>
					</td>
					<td class="CEgo">
						$47,097
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Median 
							Home Value:</b>
					</td>
					<td class="CEgo">
						$116,651
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Home 
							Ownership:</b>
					</td>
					<td class="CEgo">
						60%
						Owned
					</td>
				</tr>
				<tr>
					<td class="CEyield"><b>Academic 
							Makeup:</b>
					</td>
					<td class="CEyield">
						0% with at least a Don't care
					</td>
				</tr>
				<tr>
					<td><b>Community Type :</b></td>
					<td>Urban Blues</td>
				</tr>
				<tr id="Repeater1__ctl3_CrimeIndex">
	<td><b>Crime Index:</b></td>
	<td>Moderate</td>
</tr>

				<tr>
					<td><b>Education Index:</b></td>
					<td>Average</td>
				</tr>
				<tr>
					<td><br>
						<br>
					</td>
				</tr>
			
				<tr valign="baseline">
					<td align="left" class="textsize2">
						<b>
							Richmond
							,
							Virginia
							(23294)</b>
					</td>
					<td>
						Matched
						3
						out of
						6
						criteria
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td bgcolor="ffffcc" align="left" style="padding:0px">
						&nbsp;
						
					</td>
					<td bgcolor="ffffcc" align="right" style="padding:0px">
						Send to Community Comparison <input type="checkbox" value="23294" name="compare" id="compare" onclick="getclick(this)">&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td class="CEgo">
						<b>Family Enviroment:</b>
					</td>
					<td class="CEgo">
						37% are Single
					</td>
				</tr>
				
				<tr>
					<td class="CEgo"><b>Age 
							Group:</b>
					</td>
					<td class="CEgo">
						25% are 18 to 29
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Median 
							Househould Income:</b>
					</td>
					<td class="CEgo">
						$45,216
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Median 
							Home Value:</b>
					</td>
					<td class="CEstop">
						$166,578
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Home 
							Ownership:</b>
					</td>
					<td class="CEstop">
						31%
						Owned
					</td>
				</tr>
				<tr>
					<td class="CEyield"><b>Academic 
							Makeup:</b>
					</td>
					<td class="CEyield">
						0% with at least a Don't care
					</td>
				</tr>
				<tr>
					<td><b>Community Type :</b></td>
					<td>Inner Suburbs</td>
				</tr>
				<tr id="Repeater1__ctl4_CrimeIndex">
	<td><b>Crime Index:</b></td>
	<td>Low</td>
</tr>

				<tr>
					<td><b>Education Index:</b></td>
					<td>Above Average</td>
				</tr>
				<tr>
					<td><br>
						<br>
					</td>
				</tr>
			
				<tr valign="baseline">
					<td align="left" class="textsize2">
						<b>
							Sandston
							,
							Virginia
							(23150)</b>
					</td>
					<td>
						Matched
						1
						out of
						6
						criteria
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td bgcolor="ffffcc" align="left" style="padding:0px">
						&nbsp;
						
					</td>
					<td bgcolor="ffffcc" align="right" style="padding:0px">
						Send to Community Comparison <input type="checkbox" value="23150" name="compare" id="compare" onclick="getclick(this)">&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td class="CEstop">
						<b>Family Enviroment:</b>
					</td>
					<td class="CEstop">
						21% are Single
					</td>
				</tr>
				
				<tr>
					<td class="CEstop"><b>Age 
							Group:</b>
					</td>
					<td class="CEstop">
						14% are 18 to 29
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Median 
							Househould Income:</b>
					</td>
					<td class="CEstop">
						$52,132
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Median 
							Home Value:</b>
					</td>
					<td class="CEstop">
						$151,939
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Home 
							Ownership:</b>
					</td>
					<td class="CEgo">
						81%
						Owned
					</td>
				</tr>
				<tr>
					<td class="CEyield"><b>Academic 
							Makeup:</b>
					</td>
					<td class="CEyield">
						0% with at least a Don't care
					</td>
				</tr>
				<tr>
					<td><b>Community Type :</b></td>
					<td>Urban Blues</td>
				</tr>
				<tr id="Repeater1__ctl5_CrimeIndex">
	<td><b>Crime Index:</b></td>
	<td>Low</td>
</tr>

				<tr>
					<td><b>Education Index:</b></td>
					<td>Above Average</td>
				</tr>
				<tr>
					<td><br>
						<br>
					</td>
				</tr>
			
				<tr valign="baseline">
					<td align="left" class="textsize2">
						<b>
							Glen Allen
							,
							Virginia
							(23059)</b>
					</td>
					<td>
						Matched
						1
						out of
						6
						criteria
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td bgcolor="ffffcc" align="left" style="padding:0px">
						&nbsp;
						
					</td>
					<td bgcolor="ffffcc" align="right" style="padding:0px">
						Send to Community Comparison <input type="checkbox" value="23059" name="compare" id="compare" onclick="getclick(this)">&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td class="CEstop">
						<b>Family Enviroment:</b>
					</td>
					<td class="CEstop">
						19% are Single
					</td>
				</tr>
				
				<tr>
					<td class="CEstop"><b>Age 
							Group:</b>
					</td>
					<td class="CEstop">
						11% are 18 to 29
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Median 
							Househould Income:</b>
					</td>
					<td class="CEstop">
						$61,671
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Median 
							Home Value:</b>
					</td>
					<td class="CEstop">
						$315,436
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Home 
							Ownership:</b>
					</td>
					<td class="CEgo">
						87%
						Owned
					</td>
				</tr>
				<tr>
					<td class="CEyield"><b>Academic 
							Makeup:</b>
					</td>
					<td class="CEyield">
						0% with at least a Don't care
					</td>
				</tr>
				<tr>
					<td><b>Community Type :</b></td>
					<td>Landed Gentry</td>
				</tr>
				<tr id="Repeater1__ctl6_CrimeIndex">
	<td><b>Crime Index:</b></td>
	<td>Low</td>
</tr>

				<tr>
					<td><b>Education Index:</b></td>
					<td>Not Classified</td>
				</tr>
				<tr>
					<td><br>
						<br>
					</td>
				</tr>
			
				<tr valign="baseline">
					<td align="left" class="textsize2">
						<b>
							Glen Allen
							,
							Virginia
							(23060)</b>
					</td>
					<td>
						Matched
						1
						out of
						6
						criteria
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td bgcolor="ffffcc" align="left" style="padding:0px">
						&nbsp;
						
					</td>
					<td bgcolor="ffffcc" align="right" style="padding:0px">
						Send to Community Comparison <input type="checkbox" value="23060" name="compare" id="compare" onclick="getclick(this)">&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td class="CEstop">
						<b>Family Enviroment:</b>
					</td>
					<td class="CEstop">
						24% are Single
					</td>
				</tr>
				
				<tr>
					<td class="CEstop"><b>Age 
							Group:</b>
					</td>
					<td class="CEstop">
						17% are 18 to 29
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Median 
							Househould Income:</b>
					</td>
					<td class="CEstop">
						$57,433
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Median 
							Home Value:</b>
					</td>
					<td class="CEstop">
						$206,027
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Home 
							Ownership:</b>
					</td>
					<td class="CEgo">
						74%
						Owned
					</td>
				</tr>
				<tr>
					<td class="CEyield"><b>Academic 
							Makeup:</b>
					</td>
					<td class="CEyield">
						0% with at least a Don't care
					</td>
				</tr>
				<tr>
					<td><b>Community Type :</b></td>
					<td>The Affluentials</td>
				</tr>
				<tr id="Repeater1__ctl7_CrimeIndex">
	<td><b>Crime Index:</b></td>
	<td>Low</td>
</tr>

				<tr>
					<td><b>Education Index:</b></td>
					<td>Above Average</td>
				</tr>
				<tr>
					<td><br>
						<br>
					</td>
				</tr>
			
				<tr valign="baseline">
					<td align="left" class="textsize2">
						<b>
							Richmond
							,
							Virginia
							(23233)</b>
					</td>
					<td>
						Matched
						1
						out of
						6
						criteria
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td bgcolor="ffffcc" align="left" style="padding:0px">
						&nbsp;
						
					</td>
					<td bgcolor="ffffcc" align="right" style="padding:0px">
						Send to Community Comparison <input type="checkbox" value="23233" name="compare" id="compare" onclick="getclick(this)">&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td class="CEstop">
						<b>Family Enviroment:</b>
					</td>
					<td class="CEstop">
						24% are Single
					</td>
				</tr>
				
				<tr>
					<td class="CEstop"><b>Age 
							Group:</b>
					</td>
					<td class="CEstop">
						14% are 18 to 29
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Median 
							Househould Income:</b>
					</td>
					<td class="CEstop">
						$66,992
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Median 
							Home Value:</b>
					</td>
					<td class="CEstop">
						$264,584
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Home 
							Ownership:</b>
					</td>
					<td class="CEgo">
						66%
						Owned
					</td>
				</tr>
				<tr>
					<td class="CEyield"><b>Academic 
							Makeup:</b>
					</td>
					<td class="CEyield">
						0% with at least a Don't care
					</td>
				</tr>
				<tr>
					<td><b>Community Type :</b></td>
					<td>Elite Suburbs</td>
				</tr>
				<tr id="Repeater1__ctl8_CrimeIndex">
	<td><b>Crime Index:</b></td>
	<td>Low</td>
</tr>

				<tr>
					<td><b>Education Index:</b></td>
					<td>High</td>
				</tr>
				<tr>
					<td><br>
						<br>
					</td>
				</tr>
			
				<tr valign="baseline">
					<td align="left" class="textsize2">
						<b>
							Richmond
							,
							Virginia
							(23229)</b>
					</td>
					<td>
						Matched
						1
						out of
						6
						criteria
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td bgcolor="ffffcc" align="left" style="padding:0px">
						&nbsp;
						
					</td>
					<td bgcolor="ffffcc" align="right" style="padding:0px">
						Send to Community Comparison <input type="checkbox" value="23229" name="compare" id="compare" onclick="getclick(this)">&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding:0px">
						<img src="/images/mainpx.gif" width="500" height="1" border="0"></td>
				</tr>
				<tr>
					<td class="CEstop">
						<b>Family Enviroment:</b>
					</td>
					<td class="CEstop">
						24% are Single
					</td>
				</tr>
				
				<tr>
					<td class="CEstop"><b>Age 
							Group:</b>
					</td>
					<td class="CEstop">
						13% are 18 to 29
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Median 
							Househould Income:</b>
					</td>
					<td class="CEstop">
						$62,725
					</td>
				</tr>
				<tr>
					<td class="CEstop"><b>Median 
							Home Value:</b>
					</td>
					<td class="CEstop">
						$232,223
					</td>
				</tr>
				<tr>
					<td class="CEgo"><b>Home 
							Ownership:</b>
					</td>
					<td class="CEgo">
						69%
						Owned
					</td>
				</tr>
				<tr>
					<td class="CEyield"><b>Academic 
							Makeup:</b>
					</td>
					<td class="CEyield">
						0% with at least a Don't care
					</td>
				</tr>
				<tr>
					<td><b>Community Type :</b></td>
					<td>The Affluentials</td>
				</tr>
				<tr id="Repeater1__ctl9_CrimeIndex">
	<td><b>Crime Index:</b></td>
	<td>Low</td>
</tr>

				<tr>
					<td><b>Education Index:</b></td>
					<td>High</td>
				</tr>
				<tr>
					<td><br>
						<br>
					</td>
				</tr>
			</tbody></table>
<table id="Table6" cellspacing="1" cellpadding="0" width="500" border="0">
  <tbody><tr>
    <td align="left" width="100"><img height="10" src="/sharedimages/transparent.gif" width="100" border="0"></td>
    <td align="middle" width="100%"><img height="10" src="/sharedimages/transparent.gif" width="300" border="0"></td>
    <td align="right" width="100"><img height="10" src="/sharedimages/transparent.gif" width="100" border="0"></td></tr>
  <tr>
    <td align="left" width="100"></td>
    <td align="middle" width="100%"><a href="javascript: getzipcomparisons()"><img alt="Compare" src="/images/btn_compare.gif" border="0"></a></td>
    <td align="right" width="100"></td></tr></tbody></table><input name="compareZips" id="compareZips" type="hidden" value="23228,23230,"> 
</form>
	
  

</td></tr></tbody></table>
