@{
    ViewBag.Title = "Index";
}

<table cellpadding="0" cellspacing="0" border="0" width="550" align="center">
    
	    <tr>
		    <td>
			    <br>
			    <img src="/images/communityinformation.gif" height="50" width="500">
			    <br><br>
			    Relocating is a big step. In addition to finding a home, you need to
			    make sure the community you are considering really suits your needs. The key is
			    to gather as much information as possible about your prospective community so
			    you can make an informed decision. Below, you can learn about and compare
			    various cities, states, and communities throughout the United States.<br><br>
		    </td>
	    </tr>
	
	<tr>
		<td>
			<table cellpadding="1" cellspacing="7" border="0" width="100%" id="ReloHomePage_TwoCols">
				
						<tr>
							<th valign="top" width="50%">
								<table cellpadding="2" cellspacing="0" border="0" width="100%" height="70" bgcolor="white">
									<tr>
										<td valign="middle" rowspan="3" width="70">
											<a href="/aff/www/tools/salary/col.aspx">
												<img border="0" src="/images/icon_costofliving.gif" width="70" hspace="0" vspace="0" alt="">
											</a>
										</td>
										<th width="100%" height="15" align="left" valign="middle" onclick="window.location.href='/aff/www/tools/salary/col.aspx'" style="background-color:#009">
											<a style="font-weight:bold; color:white;" href="/aff/www/tools/salary/col.aspx">
												Cost of Living
											</a>
										</th>
									</tr>
									<tr>
										<td width="100%" height="45" valign="top">
											Compare the cost of living of various cities and regions you are considering.
										</td>
									</tr>
									<tr>
										<td width="100%" height="10" valign="top" align="right">
											<a href="/aff/www/tools/salary/col.aspx">
												Learn More &gt;&gt;
											</a>
										</td>
									</tr>
								</table>
							</th>
						
							<th valign="top" width="50%">
								<table cellpadding="2" cellspacing="0" border="0" width="100%" height="70" bgcolor="white">
									<tr>
										<td valign="middle" rowspan="3" width="70">
											<a href="/aff/www/tools/schools/schoolus.aspx">
												<img border="0" src="/images/icon_schools.gif" width="70" hspace="0" vspace="0" alt="">
											</a>
										</td>
										<th width="100%" height="15" align="left" valign="middle" onclick="window.location.href='/aff/www/tools/schools/schoolus.aspx'" style="background-color:#009">
											<a style="font-weight:bold; color:white;" href="/aff/www/tools/schools/schoolus.aspx">
												School Report Cards
											</a>
										</th>
									</tr>
									<tr>
										<td width="100%" height="45" valign="top">
											Find out important facts about area schools and school districts in your new area of residence.
										</td>
									</tr>
									<tr>
										<td width="100%" height="10" valign="top" align="right">
											<a href="/aff/www/tools/schools/schoolus.aspx">
												Learn More &gt;&gt;
											</a>
										</td>
									</tr>
								</table>
							</th>
						</tr>
					
						<tr>
							<th valign="top" width="50%">
								<table cellpadding="2" cellspacing="0" border="0" width="100%" height="70" bgcolor="white">
									<tr>
										<td valign="middle" rowspan="3" width="70">
											<a href="#" onclick="parent.swapPage('CommunityComparison');">
												<img border="0" src="/images/icon_commcompare.gif" width="70" hspace="0" vspace="0" alt="">
											</a>
										</td>
										<th width="100%" height="15" align="left" valign="middle" onclick="parent.swapPage('CommunityComparison');" style="background-color:#009">
											<a style="font-weight:bold; color:white;" href="#" onclick="parent.swapPage('CommunityComparison');">
												Community Comparison
											</a>
										</th>
									</tr>
									<tr>
										<td width="100%" height="45" valign="top">
											Preview and compare community data of various cities you are considering.
										</td>
									</tr>
									<tr>
										<td width="100%" height="10" valign="top" align="right">
											<a href="#" onclick="parent.swapPage('CommunityComparison');">
												Learn More &gt;&gt;
											</a>
										</td>
									</tr>
								</table>
							</th>
						
							<th valign="top" width="50%">
								<table cellpadding="2" cellspacing="0" border="0" width="100%" height="70" bgcolor="white">
									<tr>
										<td valign="middle" rowspan="3" width="70">
											<a href="/aff/www/tools/salary/salaryanalyzer.aspx">
												<img border="0" src="/images/icon_salary.gif" width="70" hspace="0" vspace="0" alt="">
											</a>
										</td>
										<th width="100%" height="15" align="left" valign="middle" onclick="window.location.href='/aff/www/tools/salary/salaryanalyzer.aspx'" style="background-color:#009">
											<a style="font-weight:bold; color:white;" href="/aff/www/tools/salary/salaryanalyzer.aspx">
												Salary Analyzer
											</a>
										</th>
									</tr>
									<tr>
										<td width="100%" height="45" valign="top">
											Find out how your occupation, experience level, and current salary compare to other cities.
										</td>
									</tr>
									<tr>
										<td width="100%" height="10" valign="top" align="right">
											<a href="/aff/www/tools/salary/salaryanalyzer.aspx">
												Learn More &gt;&gt;
											</a>
										</td>
									</tr>
								</table>
							</th>
						</tr>
					
						<tr>
							<th valign="top" width="50%">
								<table cellpadding="2" cellspacing="0" border="0" width="100%" height="70" bgcolor="white">
									<tr>
										<td valign="middle" rowspan="3" width="70">
											<a href="/aff/www/tools/crime/crime.aspx">
												<img border="0" src="/images/icon_crime.gif" width="70" hspace="0" vspace="0" alt="">
											</a>
										</td>
										<th width="100%" height="15" align="left" valign="middle" onclick="window.location.href='/aff/www/tools/crime/crime.aspx'" style="background-color:#009">
											<a style="font-weight:bold; color:white;" href="/aff/www/tools/crime/crime.aspx">
												Crime Reports
											</a>
										</th>
									</tr>
									<tr>
										<td width="100%" height="45" valign="top">
											Get the latest and most accurate statistics for any city in the United States.
										</td>
									</tr>
									<tr>
										<td width="100%" height="10" valign="top" align="right">
											<a href="/aff/www/tools/crime/crime.aspx">
												Learn More &gt;&gt;
											</a>
										</td>
									</tr>
								</table>
							</th>
						
							<th valign="top" width="50%">
								<table cellpadding="2" cellspacing="0" border="0" width="100%" height="70" bgcolor="white">
									<tr>
										<td valign="middle" rowspan="3" width="70">
											<a href="/aff/www/tools/explorer/index.aspx">
												<img border="0" src="/images/icon_commexplore.gif" width="70" hspace="0" vspace="0" alt="">
											</a>
										</td>
										<th width="100%" height="15" align="left" valign="middle" onclick="window.location.href='/aff/www/tools/explorer/index.aspx'" style="background-color:#009">
											<a style="font-weight:bold; color:white;" href="/aff/www/tools/explorer/index.aspx">
												Community Explorer
											</a>
										</th>
									</tr>
									<tr>
										<td width="100%" height="45" valign="top">
											The perfect tool for narrowing down or finding that perfect neighborhood.
										</td>
									</tr>
									<tr>
										<td width="100%" height="10" valign="top" align="right">
											<a href="/aff/www/tools/explorer/index.aspx">
												Learn More &gt;&gt;
											</a>
										</td>
									</tr>
								</table>
							</th>
						</tr>
					
						<tr>
							<th valign="top" width="50%">
								<table cellpadding="2" cellspacing="0" border="0" width="100%" height="70" bgcolor="white">
									<tr>
										<td valign="middle" rowspan="3" width="70">
											<a href="/aff/www/tools/planner/index.aspx">
												<img border="0" src="/images/icon_moveplanner.gif" width="70" hspace="0" vspace="0" alt="">
											</a>
										</td>
										<th width="100%" height="15" align="left" valign="middle" onclick="window.location.href='/aff/www/tools/planner/index.aspx'" style="background-color:#009">
											<a style="font-weight:bold; color:white;" href="/aff/www/tools/planner/index.aspx">
												Personal Move Planner
											</a>
										</th>
									</tr>
									<tr>
										<td width="100%" height="45" valign="top">
											Too many details to remember? Coordinate your move with our helpful move planner.
										</td>
									</tr>
									<tr>
										<td width="100%" height="10" valign="top" align="right">
											<a href="/aff/www/tools/planner/index.aspx">
												Learn More &gt;&gt;
											</a>
										</td>
									</tr>
								</table>
							</th>
						
							<th valign="top" width="50%">
								<table cellpadding="2" cellspacing="0" border="0" width="100%" height="70" bgcolor="white">
									<tr>
										<td valign="middle" rowspan="3" width="70">
											<a href="/aff/www/tools/calculators/amortization.aspx">
												<img border="0" src="/images/icon_calculators.gif" width="70" hspace="0" vspace="0" alt="">
											</a>
										</td>
										<th width="100%" height="15" align="left" valign="middle" onclick="window.location.href='/aff/www/tools/calculators/amortization.aspx'" style="background-color:#009">
											<a style="font-weight:bold; color:white;" href="/aff/www/tools/calculators/amortization.aspx">
												Calculators
											</a>
										</th>
									</tr>
									<tr>
										<td width="100%" height="45" valign="top">
											Use our suite of calculators to help you sort your relocation finances.
										</td>
									</tr>
									<tr>
										<td width="100%" height="10" valign="top" align="right">
											<a href="/aff/www/tools/calculators/amortization.aspx">
												Learn More &gt;&gt;
											</a>
										</td>
									</tr>
								</table>
							</th>
						</tr>
					
				<table id="plate_footer" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td>

				<tr>
					<td valign="top" colspan="2" id="PlateFooterCell">
						<table cellpadding="1" cellspacing="0" border="0" width="50%" align="center" id="PlateFooterTable"><tr><th>
						<table cellpadding="2" cellspacing="0" border="0" width="100%" height="70" bgcolor="white">
							<tr>
								<td valign="middle" rowspan="3" width="70">
									<a href="	/aff/www/tools/forms/moving.aspx">
										<img border="0" src="/images/icon_movingnetwork.gif" width="70" hspace="0" vspace="0" alt="">
									</a>
								</td>
								<th width="100%" height="15" align="left" valign="middle" onclick="window.location.href='/aff/www/tools/forms/moving.aspx'" style="background-color:#009">
									<a style="font-weight:bold; color:white;" href="/aff/www/tools/forms/moving.aspx">
										Moving Network
									</a>
								</th>
							</tr>
							<tr>
								<td width="100%" height="45" valign="top">
									Get a FREE, no-obligation quote via email from one of our National respected partners. 
								</td>
							</tr>
							<tr>
								<td width="100%" height="10" valign="top" align="right">
									<a href="/aff/www/tools/forms/moving.aspx">
										Learn More &gt;&gt;
									</a>
								</td>
							</tr>
						</table>
						</th></tr></table>
					</td>
				</tr>
				
</td></tr></table></table>
		</td>
	</tr>
</table>

