@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

    function setUpMap() {
        var svgDoc = document.getElementById("map").contentDocument;
        setOriginal(svgDoc);
    }

    function setOriginal(svgDoc) {
        initElement(svgDoc, "HI");
        initElement(svgDoc, "AK");
        initElement(svgDoc, "FL");
        initElement(svgDoc, "NH");
        initElement(svgDoc, "MI");
        initElement(svgDoc, "MI-");
        initElement(svgDoc, "SP-");
        initElement(svgDoc, "VT");
        initElement(svgDoc, "ME");
        initElement(svgDoc, "RI");
        initElement(svgDoc, "NY");
        initElement(svgDoc, "PA");
        initElement(svgDoc, "NJ");
        initElement(svgDoc, "DE");
        initElement(svgDoc, "MD");
        initElement(svgDoc, "VA");
        initElement(svgDoc, "WV");
        initElement(svgDoc, "OH");
        initElement(svgDoc, "IN");
        initElement(svgDoc, "IL");
        initElement(svgDoc, "CT");
        initElement(svgDoc, "WI");
        initElement(svgDoc, "NC");
        initElement(svgDoc, "DC");
        initElement(svgDoc, "MA");
        initElement(svgDoc, "TN");
        initElement(svgDoc, "AR");
        initElement(svgDoc, "MO");
        initElement(svgDoc, "GA");
        initElement(svgDoc, "SC");
        initElement(svgDoc, "KY");
        initElement(svgDoc, "AL");
        initElement(svgDoc, "LA");
        initElement(svgDoc, "MS");
        initElement(svgDoc, "IA");
        initElement(svgDoc, "MN");
        initElement(svgDoc, "OK");
        initElement(svgDoc, "TX");
        initElement(svgDoc, "NM");
        initElement(svgDoc, "KS");
        initElement(svgDoc, "NE");
        initElement(svgDoc, "SD");
        initElement(svgDoc, "ND");
        initElement(svgDoc, "WY");
        initElement(svgDoc, "MT");
        initElement(svgDoc, "CO");
        initElement(svgDoc, "ID");
        initElement(svgDoc, "UT");
        initElement(svgDoc, "AZ");
        initElement(svgDoc, "NV");
        initElement(svgDoc, "OR");
        initElement(svgDoc, "WA");
        initElement(svgDoc, "CA");
    }

    function initElement(svgDoc, area) {
        var e = svgDoc.getElementById(area);
        e.classname = "tooltip";
        e.addEventListener("click", function () { loadPage(area) }, false);
        e.addEventListener("mouseout", function () { svgDoc.getElementById(area).style.fill = mainColor; }, false);
        e.style.fill = mainColor;
        var name;
        switch (area) {
            case "HI":
                name = "Hawaii";
                break;
            case "AK":
                name = "Alaska";
                break;
            case "FL":
                name = "Florida";
                break;
            case "NH":
                name = "New Hampshire";
                break;
            case "MI":
                name = "Michigan";
                break;
            case "MI-":
                name = "Michigan";
                break;
            case "SP-":
                name = "Michigan";
                break;
            case "VT":
                name = "Vermont";
                break;
            case "ME":
                name = "Maine";
                break;
            case "RI":
                name = "Rhode Island";
                break;
            case "NY":
                name = "New York";
                break;
            case "PA":
                name = "Pennsilvania";
                break;
            case "NJ":
                name = "New Jersey";
                break;
            case "DE":
                name = "Deleware";
                break;
            case "MD":
                name = "Maryland";
                break;
            case "VA":
                name = "Virginia";
                break;
            case "WV":
                name = "West Virginia";
                break;
            case "OH":
                name = "Ohio";
                break;
            case "IN":
                name = "Indiana";
                break;
            case "IL":
                name = "Illinois";
                break;
            case "CT":
                name = "Connecticut";
                break;
            case "WI":
                name = "Wisconson";
                break;
            case "NC":
                name = "North Carolina";
                break;
            case "DC":
                name = "Washington D.C.";
                break;
            case "MA":
                name = "Massachusetts";
                break;
            case "TN":
                name = "Tennessee";
                break;
            case "AR":
                name = "Arkansas";
                break;
            case "MO":
                name = "Missouri";
                break;
            case "GA":
                name = "Georgia";
                break;
            case "SC":
                name = "South Carolina";
                break;
            case "KY":
                name = "Kentucky";
                break;
            case "AL":
                name = "Alabama";
                break;
            case "LA":
                name = "Louisiana";
                break;
            case "MS":
                name = "Mississippi";
                break;
            case "IA":
                name = "Iowa";
                break;
            case "MN":
                name = "Minnesota";
                break;
            case "OK":
                name = "Oklahoma";
                break;
            case "TX":
                name = "Texas";
                break;
            case "NM":
                name = "New Mexico";
                break;
            case "KS":
                name = "Kansas";
                break;
            case "NE":
                name = "New England";
                break;
            case "SD":
                name = "South Dakota";
                break;
            case "ND":
                name = "North Dakota";
                break;
            case "WY":
                name = "Wyoming";
                break;
            case "MT":
                name = "Montana";
                break;
            case "CO":
                name = "Colorado";
                break;
            case "ID":
                name = "Idaho";
                break;
            case "UT":
                name = "Utah";
                break;
            case "AZ":
                name = "Arizona";
                break;
            case "NV":
                name = "Nevada";
                break;
            case "OR":
                name = "Oregon";
                break;
            case "WA":
                name = "Washington";
                break;
            case "CA":
                name = "California";
        }
        e.addEventListener("mouseover", function () {
            svgDoc.getElementById(area).style.fill = "#000000";
            var title = document.createElementNS("http://www.w3.org/2000/svg", "title");
            title.textContent = name;
            e.appendChild(title);
        }, false);
    }

    function loadPage(area) {
        document.getElementById('loadingImage').src = "/images/ajax-loader.gif";
        document.getElementById('loading').style.visibility= "visible";
        $('#statePage').load('Map/StateDisplay?StateAbbrv=' + area, function () {
            document.getElementById('loadingImage').src = "#";
            document.getElementById('loading').style.visibility = "hidden";
            document.getElementById('mapDiv').style.display = "none";
            document.getElementById('stateTitle').src = "/images/StateTitle_" + area + ".gif";
            document.getElementById('stateImg').src = "/images/statemap_" + area + ".gif";
            document.getElementById('atAGlance').src = "/images/AtAGlance_" + area + ".gif";
            document.getElementById('statePage').style.display = "block";
        });
    }
</script>

<div id="display">
    <div id="mapDiv">
        <object data="/images/Blank_US_Map.svg" id="map" onload="setUpMap()" type="image/svg+xml"></object>
    </div>
    <div id="statePage" style="display:none">
        
    </div>
    <div id="loading" style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(100,100,100,0.5); visibility:hidden">
        <img src="#" id="loadingImage" style="position:fixed; left:45%; top:50%; height:10px" />
    </div>
</div>
