@{
    ViewBag.Title = "StateDisplay";
}

        <table align="center" cellspacing="0" cellpadding="0" border="0" width="550" id="ReloWrappingTable">
            <tbody>
                <tr>
                    <td>
                            <br>
                            <table cellspacing="5" cellpadding="0" width="550" border="0">
                                <tbody>
                                    <tr>
                                        <td width="535" align="left" colspan="2">
                                            <img hspace="3" src="/images/StateTitle_TX.gif" border="0" id="stateTitle">
                                            <img src="/images/featuredfade.gif"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="315">
                                            <img alt="Counties" src="/images/bnr_topcitiesbypop.gif">
                                            <table id="fifty_cities" border="0" width="100%">
                                                <tbody
                                                        @for (var i = 0; i < ViewBag.topCities.Count; i++ )
                                                        {
                                                            if(i%2 == 0){
                                                                <tr>
                                                            }
                                                            <td>
                                                                <img src="/images/Arrow.gif" />&nbsp;
                                                                @ViewBag.topCities[i].Text
                                                            </td>
                                                            @if(i%2 != 0){
                                                                </tr>
                                                            }
                                                        }
                                                </tbody>
                                            </table>
                                        </td>
                                        <td valign="top" width="220" align="right">
                                            <br>
                                            <br>
                                            <br>
                                            <div style="BORDER-RIGHT: #000099 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000099 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #000099 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #000099 1px solid; BACKGROUND-COLOR: #eeeeee" align="center">
                                                <img src="/images/statemap_TX.gif" border="0" id="stateImg"><br>
                                                <br>
                                                <br>
                                                <br>
                                                <img height="16" hspace="3" src="/images/AtAGlance_TX.gif" width="174" align="absMiddle" border="0" id="atAGlance">
                                                <table cellspacing="5" cellpadding="0" width="180" align="center" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td width="50%" align="left">Population</td>
                                                            <td width="50%" align="right">N/A</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="50%" align="left">Median Age</td>
                                                            <td width="50%" align="right">N/A</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="50%" align="left">Unemployment</td>
                                                            <td width="50%" align="right">N/A</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="60%" align="left">Median Income</td>
                                                            <td width="40%" align="right">N/A</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <br>

                                                <br>
                                                All cities in&nbsp;<span id="stateName1"></span><br>
                                                @Html.DropDownList("city", (IEnumerable<SelectListItem>) ViewBag.cities);
                                                <br>
                                                All Counties in&nbsp;<span id="stateName2"></span>
					                            @Html.DropDownList("county", (IEnumerable<SelectListItem>) ViewBag.counties);
                                                <br />
                                                <br />
                                                All Zip Codes in <span id="stateName3"></span>
                                                @Html.DropDownList("zip", (IEnumerable<SelectListItem>) ViewBag.zips);
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table cellspacing="5" cellpadding="0" width="550" border="0">
                                <tbody>
                                    <tr>
                                        <td width="100%">
                                            <img alt="Counties" style="margin-top: 20px" src="/images/bnr_topcountiesbypop.gif"><br>
                                            <img src="/images/featuredfade.gif"></td>
                                    </tr>
                                    <tr>
                                        <td width="100%">
                                            <table id="twentyFiveCounties" border="0" width="100%">
                                                <tbody>
                                                    
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                    </td>
                </tr>
            </tbody>
        </table>
