@{
    ViewBag.Title = "StateDisplay";
}
<script type="text/javascript">
    window.onload = function () {
        $.ajax({ url: "/Map/getPlaces", type: "get" }).done(function (jsondata) {
            var output = [];
            output.push('<option value="">Select a City</option>');
            for (var i = 0; i < jsondata.length; i++) {
                var key = jsondata[i].split(",")[0];
                var value = jsondata[i].split(",")[1];
                output.push('<option value="' + value + '">' + key + '</option>');
            }
            $('#city').html(output.join(''));
        });
        $.ajax({ url: "/Map/getCounties", type: "get" }).done(function (jsondata) {
            var output = [];
            output.push('<option value="">Select a County</option>');
            for (var i = 0; i < jsondata.length; i++) {
                var key = jsondata[i].split(",")[0];
                var value = jsondata[i].split(",")[1];
                output.push('<option value="' + value + '">' + key + '</option>');
            }
            $('#county').html(output.join(''));
        });
    }
    var city = document.getElementById('city');
    city.onchange = function () {
        if(city.Value != '')
            parent.swapPage('CommunityComparison/DisplayPlace?Place=' + city.value);
    }
    var county = document.getElementById('county');
    county.onchange = function () {
        if (county.Value != '')
            parent.swapPage('CommunityComparison/DisplayCounty?County=' + county.value);
    }
    var zip = document.getElementById('zip');
    zip.onkeyup = function (e) {
        if (e.keyCode == 13) {
                parent.swapPage('CommunityComparison/DisplayZip?Zip=' + zip.value);
            return false;
        }
    }
</script>

<div style="width:550px">
    <div class="title1">
        State Title
    </div>
    <div class="gradientLine"></div>
    <div class="title2">
        Italicized Title
    </div>
    <div style="float:left; width:390px">

    </div>
    <div style="float:left; width:150px">

    </div>
    <div class="title2">
        Another Italicized Title
    </div>
    <div class="gradientLine"></div>
    <div>

    </div>
</div>