@{
    ViewBag.Title = "CompareAcademia";
}

<table id="_ctl0_Panel1" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="0" height="520" width="500"><tbody><tr><td>
	
					<table cellspacing="0" cellpadding="0" width="80%" border="0">
						<tbody><tr>
							<td align="center">
								

<table cellspacing="0" cellpadding="2" width="460px" border="0" height="100%">
	<tbody><tr>
		<td><img src="/sharedimages/transparent.gif" width="1" height="5" border="0"></td>
	</tr>
	<tr>
		<td>
			<table cellspacing="0" cellpadding="2" width="100%" border="0">
				<tbody><tr>
					<td>
						<table cellspacing="0" cellpadding="2" width="100%" border="0">
							<tbody><tr>
								<td width="40%">&nbsp;
								</td>
								<td align="center" width="30%"><b>Deep Run High</b></td>
								<td align="center" width="30%"><b>Godwin High</b></td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
		</td>
	</tr>	
	<tr valign="bottom">
		<td colspan="5"><b>Foreign Languages</b></td>
	</tr>
	<tr valign="top" height="1">
		<td colspan="5"><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
	</tr>
	<tr>
		<td>
			<table cellspacing="0" cellpadding="2" width="460" border="0">
				<tbody><tr>
					<td width="40%">French</td>
					<td align="center" width="30%">Yes</td>
					<td align="center" width="30%">Yes</td>
				</tr>
				<tr>
					<td width="40%">German</td>
					<td align="center" width="30%">Yes</td>
					<td align="center" width="30%">Yes</td>
				</tr>
				<tr>
					<td>Greek</td>
					<td align="center">Yes</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Japanese</td>
					<td align="center">No</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Italian</td>
					<td align="center">Yes</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Middle Eastern</td>
					<td align="center">No</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Spanish</td>
					<td align="center">Yes</td>
					<td align="center">Yes</td>
				</tr>
				<tr>
					<td>Russian</td>
					<td align="center">No</td>
					<td align="center">No</td>
				</tr>				
			</tbody></table>
		</td>
	</tr>	
	<tr valign="top">
		<td colspan="5"><img src="/sharedimages/transparent.gif" width="1" height="5" border="0"></td>
	</tr>
	<tr valign="bottom">
		<td colspan="5"><b>Special Program Offerings</b></td>
	</tr>
	<tr valign="top" height="1">
		<td colspan="5"><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
	</tr>
	<tr>	 			 	   				   			
		<td>
			<table cellspacing="0" cellpadding="2" width="460" border="0">
				<tbody><tr>
					<td width="40%">Before/After School</td>
					<td align="center" width="30%">No</td>
					<td align="center" width="30%">No</td>
				</tr>
				<tr>
					<td>Blue Ribbon School</td>
					<td align="center">No</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Coalition of Essential Schools </td>
					<td align="center">No</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Charter School</td>
					<td align="center">No</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Counslor</td>
					<td align="center">11</td>
					<td align="center">N/A</td>
				</tr>
				<tr>
					<td>English as a Second Language</td>
					<td align="center">No</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>E-Rate Grants</td>
					<td align="center">No</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Honor/accelerated</td>
					<td align="center">Yes</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Independent Study </td>
					<td align="center">Yes</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>International Baccalaureate</td>
					<td align="center">Yes</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Internships</td>
					<td align="center">Yes</td>
					<td align="center">No</td>
				</tr>				
				<tr>
					<td>Literacy Challenge Grant</td>
					<td align="center">No</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Magnet School</td>
					<td align="center">Yes</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Site Based</td>
					<td align="center">No</td>
					<td align="center">Yes</td>
				</tr>
				<tr>
					<td>Technology Literacy Challenge</td>
					<td align="center">Yes</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>21 st Century School</td>
					<td align="center">Yes</td>
					<td align="center">No</td>
				</tr>				
			</tbody></table>
		</td>
	</tr>	
</tbody></table>


<img height="50" src="/sharedimages/transparent.gif" width="1" border="0">

<table cellspacing="0" cellpadding="0" width="100%" border="0">
	<tbody><tr valign="bottom">				
		<td align="center">
		</td>
	
		<td align="center">
		</td>
	
		<td align="center">
		</td>
	
		<td align="center"><input type="image" name="_ctl0:_ctl1:btn_ApCourses" onclick="if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(); " language="javascript" id="_ctl0__ctl1_btn_ApCourses" src="/images/btn_APCourses.gif" alt="Advanced Placement Courses" border="0">
		</td>
									
		<td align="center">
		</td>
	</tr>
</tbody></table>
</td>
						</tr>
					</tbody></table>
				
</td></tr></tbody></table>
