@{
    ViewBag.Title = "CompareFacilities";
}

<table id="_ctl0_Panel1" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="1" height="520" width="500"><tbody><tr><td>
	
					<table cellspacing="0" cellpadding="0" width="80%" border="0">
						<tbody><tr>
							<td align="center">
								


<table cellspacing="0" cellpadding="2" width="460" border="0">
	<tbody><tr>
		<td><img src="/sharedimages/transparent.gif" width="1" height="5" border="0"></td>
	</tr>
	<tr>
	</tr><tr>
		<td colspan="4">
			<table cellspacing="0" cellpadding="2" width="100%" border="0">
				<tbody><tr>
					<td width="40%">&nbsp;
					</td>
					<td align="center" width="30%"><b>Deep Run High</b></td>
					<td align="center" width="30%"><b>Godwin High</b></td>
				</tr>
			</tbody></table>
		</td>
	</tr>
	
	<tr>
		<td colspan="5"><b>Building Overview</b></td>
	</tr>
	<tr valign="top" height="1">
		<td colspan="5"><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
	</tr>
	<tr>
		<td>
			<table cellspacing="0" cellpadding="2" width="460" border="0">
				<tbody><tr>
					<td width="40%">
						Year of Construction
					</td>
					<td align="center" width="30%">
						2001
					</td>
					<td align="center" width="30%">
						1980
					</td>
				</tr>
				<tr>
					<td width="40%">
						Year of Last Renovation
					</td>
					<td align="center" width="30%">
						19
					</td>
					<td align="center" width="30%">
						N/A
					</td>
				</tr>
				<tr>
					<td>
						Number of Classrooms
					</td>
					<td align="center">Unv</td>
					<td align="center">91</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
	<tr>
		<td><img height="15" src="/sharedimages/transparent.gif" width="1"></td>
	</tr>
	<tr valign="bottom">
		<td colspan="2"><b>Technology</b></td>
	</tr>
	<tr valign="top" height="1">
		<td colspan="2"><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
	</tr>
	<tr>
		<td>
			<table cellspacing="0" cellpadding="2" width="460" border="0">
				<tbody><tr>
					<td width="40%">
						Instructional Computers - PCs
					</td>
					<td align="center" width="30%">
						121
					</td>
					<td align="center" width="30%">
						79
					</td>
				</tr>
				<tr>
					<td>
						Instructional Computers - Macs
					</td>
					<td align="center">
						45
					</td>
					<td align="center">
						223
					</td>
				</tr>
				<tr>
					<td>
						Instructional Computers - Other
					</td>
					<td align="center">
						No
					</td>
					<td align="center">
						No
					</td>
				</tr>
				<tr>
					<td>
						Instructional Computers - Total
					</td>				
					<td align="center">
						166
					</td>
					<td align="center">
						302
					</td>
				</tr>
				<tr>
					<td>
						Student / Computer Ratio
					</td>
					<td align="center">	
						9.72
					</td>
					<td align="center">	
						6.51
					</td>
				</tr>
				<tr>
					<td>
						Wide Area Network
					</td>
					<td align="center">
						Yes
					</td>
					<td align="center">
						Yes
					</td>
				</tr>
				<tr>
					<td>
						Local Area Network
					</td>
					<td align="center">
						Yes
					</td>
					<td align="center">
						Yes
					</td>
				</tr>
				<tr>
					<td>
						Internet Access
					</td>
					<td align="center">
						Yes
					</td>
					<td align="center">
						Yes
					</td>
				</tr>
				<tr>
					<td>
						Classrooms Connected to the Internet
					</td>
					<td align="center">
						No
					</td>
					<td align="center">
						No
					</td>
				</tr>
				<tr>
					<td>
						Computers Connected to the Internet
					</td>
					<td align="center">
						No
					</td>
					<td align="center">
						No
					</td>
				</tr>
				<tr>
					<td>
						Media Center
					</td>
					<td align="center">
						Yes
					</td>
					<td align="center">
						Yes
					</td>
				</tr>
				<tr>
					<td>
						Cable Service
					</td>
					<td align="center">
						Yes
					</td>
					<td align="center">
						Yes
					</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>
</td>
						</tr>
					</tbody></table>
				
</td></tr></tbody></table>
