@{
    ViewBag.Title = "CompareFront";
}

<table id="_ctl0_Panel1" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="0" width="500"><tbody><tr><td>
	
					<table cellspacing="0" cellpadding="0" width="80%" border="0">
						<tbody><tr>
							<td align="center">
								

<table cellspacing="0" cellpadding="2" width="460" border="0" height="100%">
	<tbody><tr valign="center">
		<td align="center">
			<table cellspacing="0" cellpadding="2" width="100%" border="0">
				<tbody><tr>
					<td align="center" colspan="2"><img height="15" src="/sharedimages/transparent.gif" width="1"></td>
				</tr>
				<tr>
					<td align="center" colspan="2" class="textsize3bold">Comparing School</td>
				</tr>
				
				<tr>
					<td align="center" colspan="2"><img height="5" src="/sharedimages/transparent.gif" width="1"></td>
				</tr>
				
				<tr>
					<td align="center" class="textsize1bold">Deep Run High</td>										
				</tr>
				<tr>
					<td align="center" class="textsize1bold">Henrico County, VA</td>	
				</tr>
				
				<tr>
					<td align="center" colspan="2"><img height="5" src="/sharedimages/transparent.gif" width="1"></td>
				</tr>
				
				<tr>
					<td align="center" class="textsize2bold">To</td>	
				</tr>
				
				<tr>
					<td align="center" colspan="2"><img height="5" src="/sharedimages/transparent.gif" width="1"></td>
				</tr>
				
				<tr>										
					<td align="center" class="textsize1bold">Godwin High</td>
				</tr>
				
				<tr>					
					<td align="center" class="textsize1bold">Henrico County, VA</td>
				</tr>
				
				<tr>
					<td align="center" colspan="2"><img height="5" src="/sharedimages/transparent.gif" width="1"></td>
				</tr>
				<tr>
					<td align="center" colspan="2"><img src="/sharedimages/bus_3.gif" border="0"></td>
				</tr>
				<!--<tr>
					<td align="center" colspan="2"><IMG height="5" src="/sharedimages/transparent.gif" width="1"></td>
				</tr>-->
				
				
				
				<tr>
					<td align="center" colspan="2"><img height="20" src="/sharedimages/transparent.gif" width="1"></td>
				</tr>
				<tr>
					<td align="center" colspan="2">
						<a id="_ctl0__ctl0_linkBtnSelectAnotherSchool" class="school" href="javascript:{if (typeof(Page_ClientValidate) != 'function' ||  Page_ClientValidate()) __doPostBack('_ctl0$_ctl0$linkBtnSelectAnotherSchool','')}">Select a new School to Compare</a>
					</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>
</td>
						</tr>
					</tbody></table>
				
</td></tr></tbody></table>
