@{
    ViewBag.Title = "CompareStudents";
}

<table id="_ctl0_Panel1" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="0" height="520" width="500"><tbody><tr><td>
	
					<table cellspacing="0" cellpadding="0" width="80%" border="0">
						<tbody><tr>
							<td align="center">
								

<!--General students info-->
<table cellspacing="0" cellpadding="2" width="460" border="0">
	<tbody><tr>
		<td>
			<img src="/sharedimages/transparent.gif" width="1" height="5" border="0">
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<table cellspacing="0" cellpadding="1" width="100%" border="0">
				<tbody><tr>
					<td width="40%">&nbsp;
					</td>
					<td align="center" width="30%"><b>Deep Run High</b></td>
					<td align="center" width="30%"><b>Godwin High</b></td>
				</tr>
			</tbody></table>
		</td>
	</tr>
	<tr valign="bottom">
		<td colspan="2"><b>General</b></td>
	</tr>
	<tr valign="top" height="1">
		<td colspan="4"><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
	</tr>
	<tr>
		<td width="100%">
			<table cellspacing="0" cellpadding="2" width="100%" border="0">
				<tbody><tr>
					<td width="40%">
						Total Number of Students
					</td>
					<td align="center" width="30%">
						1614
					</td>
					<td align="center" width="30%">
						1966
					</td>
				</tr>
				<tr>
					<td>
						Free lunch
					</td>
					<td align="center">
						0
					</td>
					<td align="center">
						0
					</td>
				</tr>
				<tr>
					<td>
						Reduced-price lunch
					</td>
					<td align="center">
						0
					</td>
					<td align="center">
						0
					</td>
				</tr>
				<tr>
					<td>
						Migrant Students
					</td>
					<td align="center">
						0
					</td>
					<td align="center">
						0
					</td>
				</tr>
			</tbody></table>
		</td>	
	</tr>	
</tbody></table>

<!--Students by grades-->
<table id="_ctl0__ctl0_tbl_Grades" cellspacing="0" cellpadding="1" width="460" border="0">
		<tbody><tr>
			<td>
			<img src="/sharedimages/transparent.gif" width="1" height="2" border="0">
		</td>
		</tr>
		<tr valign="bottom">
			<td><b>Students By Grade</b></td>
		</tr>
		<tr valign="top" height="1">
			<td><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
		</tr>
		<tr>
			<td>
			<img id="_ctl0__ctl0_Chart1" src="www.relocationessentials.com/Temp/ChartPic_000188.jpeg?ec4c8690-dac4-4490-9fe7-b9657f825589" alt="" border="0">				
		</td>
		</tr>
	</tbody></table>
	


<!--Students by ethnicity-->
<table id="_ctl0__ctl0_tbl_Ethnicity" cellspacing="0" cellpadding="1" width="460" border="0">
		<tbody><tr>
			<td>
			<img src="/sharedimages/transparent.gif" width="1" height="2" border="0">
		</td>
		</tr>
		<tr valign="bottom">
			<td><b>Students By Ethnicity</b></td>
		</tr>
		<tr valign="top" height="1">
			<td><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
		</tr>
		<tr>
			<td>
			<img id="_ctl0__ctl0_Chart2" src="www.relocationessentials.com/Temp/ChartPic_000189.jpeg?c7fd9b0e-67cb-44b2-8fd2-39d5e602d046" alt="" border="0">				
		</td>
		</tr>
	</tbody></table>
	


</td>
						</tr>
					</tbody></table>
				
</td></tr></tbody></table>
