@{
    ViewBag.Title = "DistrictStudents";
}

<table id="_ctl0_Panel1" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="0" height="520" width="500"><tbody><tr><td>
	
					<table cellspacing="0" cellpadding="0" width="80%" border="0">
						<tbody><tr>
							<td align="center">
								

<table cellspacing="0" cellpadding="2" width="460px" border="0">
	<tbody><tr>
		<td><img src="/sharedimages/transparent.gif" width="1" height="5" border="0"></td>
	</tr>
	<tr valign="bottom">
		<td><b>General</b></td>
	</tr>
	<tr valign="top" height="1">
		<td><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
	</tr>
	<tr>
		<td>
			<table cellspacing="0" cellpadding="2" width="100%" border="0">
				<tbody><tr>
					<td>Total Number of Students</td>
					<td>42928</td>
				</tr>
				<tr>
					<td>Number of students qualifying for free lunch</td>
					<td>6114</td>
				</tr>
				<tr>
					<td>Number of students qualifying for Reduced-price lunch</td>
					<td>2015</td>
				</tr>
				<tr>
					<td>Migrant Students</td>
					<td>0</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>

<!--Students by grades-->
<table id="_ctl0__ctl0_tbl_Grades" cellspacing="0" cellpadding="1" width="460" border="0">
		<tbody><tr>
			<td>
			<img src="/sharedimages/transparent.gif" width="1" height="2" border="0">
		</td>
		</tr>
		<tr valign="bottom">
			<td><b>Students By Grade</b></td>
		</tr>
		<tr valign="top" height="1">
			<td><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
		</tr>
		<tr>
			<td>
			<img id="_ctl0__ctl0_Chart1" src="www.relocationessentials.com/Temp/ChartPic_000163.jpeg?8d46d2f9-dbd2-4bc4-baf7-e58c94337218" alt="" border="0">				
		</td>
		</tr>
	</tbody></table>
	


<!--Students by ethnicity-->
<table id="_ctl0__ctl0_tbl_Ethnicity" cellspacing="0" cellpadding="1" width="460" border="0">
		<tbody><tr>
			<td>
			<img src="/sharedimages/transparent.gif" width="1" height="2" border="0">
		</td>
		</tr>
		<tr valign="bottom">
			<td><b>Students By Ethnicity</b></td>
		</tr>
		<tr valign="top" height="1">
			<td><img src="/sites/www/images/mainpx.gif" width="460" height="1" border="0"></td>
		</tr>
		<tr>
			<td>
			<img id="_ctl0__ctl0_Chart2" usemap="#_ctl0:_ctl0:Chart2ImageMap" src="www.relocationessentials.com/Temp/ChartPic_000164.jpeg?b19d3100-b514-4a56-9669-de5478f70d81" alt="" border="0">
<map name="_ctl0:_ctl0:Chart2ImageMap">
<area shape="poly" title="Asian/Pacific Islander: 1975 Students" coords="301,74,365,56,367,74">
<area shape="poly" title="American Indian/Alaskan Native: 114 Students" coords="301,74,365,55,365,56">
<area shape="poly" title="Hispanic: 1328 Students" coords="301,74,360,44,365,55">
<area shape="poly" title="African American: 16130 Students" coords="301,74,239,49,246,37,254,27,264,19,276,13,288,10,300,8,314,9,326,13,337,18,346,26,354,34,360,44">
<area shape="poly" title="Caucasian: 25134 Students" coords="301,74,367,74,366,88,362,100,356,112,348,122,338,130,327,136,314,140,301,141,288,140,275,136,264,130,254,122,246,112,240,100,236,88,234,74,236,62,239,49">
</map>
				
		</td>
		</tr>
	</tbody></table>
	
</td>
						</tr>
					</tbody></table>
				
</td></tr></tbody></table>
