@{
    ViewBag.Title = "DistrictTeachers";
}

<table id="_ctl0_Panel1" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="0" height="520" width="500"><tbody><tr><td>
	
					<table cellspacing="0" cellpadding="0" width="80%" border="0">
						<tbody><tr>
							<td align="center">
								
<table cellspacing="0" cellpadding="2" width="100%" border="0">
	<tbody><tr>
		<td><img height="5" src="/sharedimages/transparent.gif" width="1" border="0"></td>
	</tr>
	<tr>
		<td>
			<table cellspacing="0" cellpadding="2" width="100%" border="0">
				<tbody><tr valign="bottom">
					<td colspan="3"><b>General</b></td>
				</tr>
				<tr valign="top" height="1">
					<td colspan="3"><img height="1" src="/images/mainpx.gif" width="460" border="0"></td>
				</tr>				
				<tr>
					<td>Full Time Equivalant Teachers</td>
					<td>2639</td>
				</tr>
				<tr>
					<td>Teacher - Student Ratio</td>
					<td>
						1:16
					</td>
				</tr>
				<tr>
					<td>Average Teacher Salary</td>
					<td>$34076</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
	<tr>
		<td><img height="15" src="/sharedimages/transparent.gif" width="1" border="0"></td>
		</tr>
	<tr>			
		<td>
			<table cellspacing="0" cellpadding="2" width="100%" border="0">				
				<tbody><tr>
					<td colspan="5"><b>Teachers by Subject Area</b></td>
				</tr>
				<tr valign="top" height="1">
					<td colspan="5"><img height="1" src="/images/mainpx.gif" width="460" border="0"></td>
				</tr>
				<tr>
					<td width="40%">Agriculture</td>
					<td width="5%" align="center">0</td>
					<td width="5%" rowspan="12">&nbsp;</td>
					<td width="40%">Art</td>
					<td width="10%" align="center">116</td>
				</tr>
				<tr>
					<td>Business</td>
					<td align="center">0</td>
					<td>Computer</td>
					<td align="center">5</td>
				</tr>
				<tr>
					<td>Dance</td>
					<td align="center">0</td>
					<td>Drama/Theater</td>
					<td align="center">0</td>
				</tr>
				<tr>
					<td>English</td>
					<td align="center">262</td>
					<td>Foreign language</td>
					<td align="center">72</td>
				</tr>			
				<tr>
					<td>Health careers</td>
					<td align="center">0</td>
					<td>Consumer home economics</td>
					<td align="center">0</td>
				</tr>
				<tr>
					<td>Humanties</td>
					<td align="center">0</td>
					<td>Industrial &amp; Technology</td>
					<td align="center">0</td>
				</tr>
				<tr>
					<td>Mathematics</td>
					<td align="center">212</td>
					<td>Music</td>
					<td align="center">0</td>
				</tr>
				<tr>
					<td>Non-teaching assignments</td>
					<td align="center">0</td>
					<td>Other instructional staff</td>
					<td align="center">0</td>
				</tr>
				<tr>
					<td>Physical education</td>
					<td align="center">0</td>
					<td>Science</td>
					<td align="center">225</td>
				</tr>
				<tr>
					<td>Self-contained classrooms</td>
					<td align="center">0</td>
					<td>Social science</td>
					<td align="center">214</td>
				</tr>
				<tr>
					<td>Special designated subjects</td>
					<td align="center">0</td>
					<td>Special education teachers</td>
					<td align="center">0</td>
				</tr>
				<tr>
					<td>Work experience</td>
					<td align="center">0</td>
					<td>Vocational</td>
					<td align="center">7</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
						
</tbody></table>
	

</td>
						</tr>
					</tbody></table>
				
</td></tr></tbody></table>
