@{
    ViewBag.Title = "Index";
}

<div style="width:560px">
    <div>
        <img src="/images/icon_schools.gif" />
        <img src="/images/title_schoolreportcard.gif" />
    </div>
    <iframe "schoolFrame1" frameborder="0" style="width:100%"></iframe>
</div>
