@{
    ViewBag.Title = "SchoolAcademia";
}

<table id="_ctl0_Panel1" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="1" height="520" width="500"><tbody><tr><td>
	
					<table cellspacing="0" cellpadding="0" width="80%" border="0">
						<tbody><tr>
							<td align="center">
								
<table cellspacing="0" cellpadding="0" width="460" border="0">
	<tbody><tr>
		<td>
			<img height="5" src="/sharedimages/transparent.gif" width="1" border="0">
		</td>
	</tr>
	<tr>
		<td>
			<table cellspacing="0" cellpadding="2" width="100%" border="0">
				<tbody><tr>
					<td colspan="5"><b>Foreign Languages</b></td>
				</tr>
				<tr valign="top" height="1">
					<td colspan="5"><img height="1" src="/images/mainpx.gif" width="460" border="0"></td>
				</tr>
				<tr>
				</tr><tr>
					<td width="40%">French</td>
					<td width="5%" align="center">Yes</td>
					<td width="5%" rowspan="4">&nbsp;</td>
					<td width="40%">Italian</td>
					<td width="10%" align="center">Yes</td>
				</tr>
				<tr>
					<td>German</td>
					<td align="center">Yes</td>
					<td>Middle Eastern</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Greek</td>
					<td align="center">Yes</td>
					<td>Spanish</td>
					<td align="center">Yes</td>
				</tr>
				<tr>
					<td>Japanese</td>
					<td align="center">No</td>
					<td>Russian</td>
					<td align="center">No</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
	<tr>
		<td>
			<img height="15" src="/sharedimages/transparent.gif" width="1">
		</td>
	</tr>

	<tr>
		<td>
			<table cellspacing="0" cellpadding="2" width="450" border="0">
				<tbody><tr>
					<td colspan="5"><b>Special Program Offerings</b></td>
				</tr>
				<tr valign="top" height="1">
					<td colspan="5"><img src="/images/mainpx.gif" width="450" height="1" border="0"></td>
				</tr>
				<tr>
					<td>Before/After School</td>
					<td align="center">No</td>
					<td rowspan="8">&nbsp;</td>
					<td>Blue Ribbon School</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Coalition of Essential Schools</td>
					<td align="center">No</td>
					<td>Charter School</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Counselor</td>
					<td align="center">11</td>
					<td>English as a Second Language</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>E-Rate Grants</td>
					<td align="center">No</td>
					<td>Honor/accelerated</td>
					<td align="center">Yes</td>
				</tr>
				<tr>
					<td>Independent Study</td>
					<td align="center">Yes</td>
					<td>International Baccalaureate</td>
					<td align="center">Yes</td>
				</tr>
				<tr>
					<td height="22">Internships</td>
					<td align="center" height="22">Yes</td>
					<td>Literacy Challenge Grant</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Magnet School</td>
					<td align="center">Yes</td>
					<td>Site Based</td>
					<td align="center">No</td>
				</tr>
				<tr>
					<td>Technology Literacy Challenge</td>
					<td align="center">Yes</td>
					<td>21 st Century School</td>
					<td align="center">Yes</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>




<img height="50" src="/sharedimages/transparent.gif" width="1" border="0">

<table cellspacing="0" cellpadding="0" width="100%" border="0">
	<tbody><tr valign="bottom">				
		<td align="center">
		</td>
	
		<td align="center">
		</td>
	
		<td align="center"><input type="image" name="_ctl0:_ctl1:btn_Exams" onclick="if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(); " language="javascript" id="_ctl0__ctl1_btn_Exams" src="/images/btn_SAT_ACT_AP_Scores.gif" alt="College Entrance &amp; Advanced Placement Scores" border="0">
		</td>
	
		<td align="center"><input type="image" name="_ctl0:_ctl1:btn_ApCourses" onclick="if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(); " language="javascript" id="_ctl0__ctl1_btn_ApCourses" src="/images/btn_APCourses.gif" alt="Advanced Placement Courses" border="0">
		</td>
									
		<td align="center">
		</td>
	</tr>
</tbody></table>
</td>
						</tr>
					</tbody></table>
				
</td></tr></tbody></table>
