@{
    ViewBag.Title = "SchoolXCurricula";
}

<table id="_ctl0_Panel1" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="0" height="520" width="500"><tbody><tr><td>
	
					<table cellspacing="0" cellpadding="0" width="80%" border="0">
						<tbody><tr>
							<td align="center">
								
<table cellspacing="0" cellpadding="2" width="100%" border="0" height="100%">
	<tbody><tr>
		<td colspan="5"><img src="/sharedimages/transparent.gif" width="1" height="5" border="0"></td>
	</tr>
	<tr valign="bottom">
		<td colspan="5"><b>*Sports</b></td>
	</tr>
	<tr valign="top" height="1">
		<td colspan="5"><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
	</tr>
	<tr>
		<td width="40%">Baseball</td>
		<td align="center" width="5%">Yes</td>
		<td width="5%" rowspan="8">&nbsp;</td>
		<td width="40%">Softball</td>
		<td align="center" width="10%">Yes</td>
	</tr>
	<tr>
		<td>Basketball</td>
		<td align="center">Yes</td>
		<td>Soccer</td>
		<td align="center">Yes</td>
	</tr>
	<tr>
		<td>Hockey</td>
		<td align="center">No</td>
		<td>Swimming</td>
		<td align="center">Yes</td>
	</tr>
	<tr>
		<td>Football</td>
		<td align="center">Yes</td>
		<td>Tennis</td>
		<td align="center">Yes</td>
	</tr>
	<tr>
		<td>Golf</td>
		<td align="center">Yes</td>
		<td>Track</td>
		<td align="center">Yes</td>
	</tr>
	<tr>
		<td>Gymnastics</td>
		<td align="center">Yes</td>
		<td>Wrestling</td>
		<td align="center">Yes</td>
	</tr>
	<tr>
		<td>Lacrosse</td>
		<td align="center">Yes</td>
		<td>Volleyball</td>
		<td align="center">Yes</td>
	</tr>
	<tr>
		<td>Skiing</td>
		<td align="center">Yes</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr valign="top">
		<td colspan="5"><img src="/sharedimages/transparent.gif" width="1" height="15" border="0"></td>
	</tr>
	<tr valign="bottom">
		<td colspan="5"><b>*Fine Arts</b></td>
	</tr>
	<tr valign="top" height="1">
		<td colspan="5"><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
	</tr>
	<tr>
		<td>Band Ensemble</td>
		<td align="center">Yes</td>
		<td rowspan="4">&nbsp;</td>
		<td>Formal Art</td>
		<td align="center">Yes</td>
	</tr>
	<tr>
		<td>Chorus</td>
		<td align="center">Yes</td>
		<td>Formal Music</td>
		<td align="center">Yes</td>
	</tr>
	<tr>
		<td>Dance</td>
		<td align="center">Yes</td>
		<td>Orchestra</td>
		<td align="center">Yes</td>
	</tr>
	<tr>
		<td>Drama</td>
		<td align="center">Yes</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr height="250px" valign="bottom">
		<td colspan="5">
			<table cellspacing="0" cellpadding="2" border="0">
				<tbody><tr valign="top">
					<td width="5">*</td>
					<td>The value <b>"Yes"</b> or <b>"No"</b> indicates if the institution has a full time staff 
						member registered to teach this course/activity.</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>
</td>
						</tr>
					</tbody></table>
				
</td></tr></tbody></table>
