@{
    ViewBag.Title = "SchoolStudents";
}

<table id="_ctl0_Panel1" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="1" height="520" width="500"><tbody><tr><td>
	
					<table cellspacing="0" cellpadding="0" width="80%" border="0">
						<tbody><tr>
							<td align="center">
								

<table cellspacing="0" cellpadding="2" width="460px" border="0">
	<tbody><tr>
		<td><img src="/sharedimages/transparent.gif" width="1" height="5" border="0"></td>
	</tr>
	<tr valign="bottom">
		<td><b>General</b></td>
	</tr>
	<tr valign="top" height="1">
		<td><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
	</tr>
	<tr>
		<td>
			<table cellspacing="0" cellpadding="2" width="100%" border="0">
				<tbody><tr>
					<td>Total Number of Students</td>
					<td>1614</td>
				</tr>
				<tr>
					<td>Number of students qualifying for free lunch</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Number of students qualifying for Reduced-price lunch</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Migrant Students</td>
					<td>0</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>

<!--Students by grades-->
<table id="_ctl0__ctl0_tbl_Grades" cellspacing="0" cellpadding="1" width="460" border="0">
		<tbody><tr>
			<td>
			<img src="/sharedimages/transparent.gif" width="1" height="2" border="0">
		</td>
		</tr>
		<tr valign="bottom">
			<td><b>Students By Grade</b></td>
		</tr>
		<tr valign="top" height="1">
			<td><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
		</tr>
		<tr>
			<td>
			<img id="_ctl0__ctl0_Chart1" src="http://relocationessentials.com/Temp/ChartPic_000097.jpeg?cb086ef2-a5f0-4958-8613-3f47f1090f20" alt="" border="0">				
		</td>
		</tr>
	</tbody></table>
	


<!--Students by ethnicity-->
<table id="_ctl0__ctl0_tbl_Ethnicity" cellspacing="0" cellpadding="1" width="460" border="0">
		<tbody><tr>
			<td>
			<img src="/sharedimages/transparent.gif" width="1" height="2" border="0">
		</td>
		</tr>
		<tr valign="bottom">
			<td><b>Students By Ethnicity</b></td>
		</tr>
		<tr valign="top" height="1">
			<td><img src="/sites/www/images/mainpx.gif" width="460" height="1" border="0"></td>
		</tr>
		<tr>
			<td>
			<img id="_ctl0__ctl0_Chart2" usemap="#_ctl0:_ctl0:Chart2ImageMap" src="http://relocationessentials.com/Temp/ChartPic_000098.jpeg?d32d526d-52cb-4d60-ab0e-ee5e1f954a7f" alt="" border="0">
<map name="_ctl0:_ctl0:Chart2ImageMap">
<area shape="poly" title="Asian/Pacific Islander: 109 Students" coords="301,74,350,30,358,40,363,51,366,62,367,74">
<area shape="poly" title="American Indian/Alaskan Native: 3 Students" coords="301,74,350,29,350,30">
<area shape="poly" title="Hispanic: 38 Students" coords="301,74,336,18,350,29">
<area shape="poly" title="African American: 77 Students" coords="301,74,304,8,321,11,336,18">
<area shape="poly" title="Caucasian: 706 Students" coords="301,74,367,74,366,88,362,100,356,112,348,122,338,130,327,136,314,140,301,141,288,140,275,136,264,130,254,122,246,112,240,100,236,88,234,74,236,61,240,48,246,37,254,27,264,19,275,13,288,9,301,8,304,8">
</map>
				
		</td>
		</tr>
	</tbody></table>
	
</td>
						</tr>
					</tbody></table>
				
</td></tr></tbody></table>
