@{
    ViewBag.Title = "SchoolOverview";
}

<table id="_ctl0_Panel1" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="1" height="520" width="500"><tbody><tr><td>
	
					<table cellspacing="0" cellpadding="0" width="80%" border="0">
						<tbody><tr>
							<td align="center">
								
<table cellspacing="0" cellpadding="2" width="100%" border="0" height="100%">
	<tbody><tr>
		<td colspan="2"><img src="/sharedimages/transparent.gif" width="1" height="5" border="0"></td>
	</tr>
	<tr valign="top">
		<td>
			<table cellspacing="0" cellpadding="1" width="100%" border="0">
				<tbody><tr>
					<td><b>Deep Run High</b></td>
				</tr>
				<tr>
					<td>4801 Twin Hickory Rd.</td>
				</tr>
				<tr>
					<td>Glen Allen,&nbsp;VA&nbsp;23059</td>
				</tr>
				<tr>
					<td>Phone:
						(804) 364-8000
					</td>
				</tr>
			</tbody></table>
		</td>
		<td>
			<table cellspacing="0" cellpadding="1" width="100%" border="0">
				<tbody><tr>
					<td><b>Henrico County Public Schools<b></b></b></td>
				</tr>
				<tr>
					<td>County:
						Henrico
					</td>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
				</tr>
			</tbody></table>
	    </td>
	</tr>
	<tr>
		<td colspan="2"><img height="15" src="/sharedimages/transparent.gif" width="1"></td>
	</tr>
	<tr>
		<td colspan="2"><b>General</b></td>
	</tr>
	<tr valign="top" height="1">
		<td colspan="2"><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
	</tr>
	<tr>
		<td colspan="2">
			<table cellspacing="0" cellpadding="2" width="100%" border="0">				
				<tbody><tr>
					<td>Type</td>
					<td>Public-Public Regular School</td>
				</tr>
				<!--<tr>
					<td>Educational Climate Index</td>
					<td>N/A</td>
				</tr>-->
				<tr>
					<td>Total Number of Students</td>
					<td>1614</td>
				</tr>
				<tr>
					<td>Total Number of Teachers</td>
					<td>87</td>
				</tr>
				<tr>
					<td>Student-Teacher Ratio</td>
					<td>19</td>
				</tr>
				<tr>
					<td>*Total Expenditures Per Student</td>
					<td>N/A</td>
				</tr>
				<tr>
					<td>Grade Span</td>
					<td>09
						-
						12
					</td>
				</tr>
				<tr>
					<td>Year Round Classes</td>
					<td>No</td>
				</tr>
				<tr>
					<td>School Year Starts</td>
					<td>N/A</td>
				</tr>
				<tr>
					<td>School Year Ends</td>
					<td>N/A</td>
				</tr>
				<tr>
					<td colspan="2"><img height="15" src="/sharedimages/transparent.gif" width="1"></td>
				</tr>
				<tr>
					<td colspan="2"><b>Community Description</b></td>
				</tr>
				<tr valign="top" height="1">
					<td colspan="2"><img src="/images/mainpx.gif" width="460" height="1" border="0"></td>
				</tr>
				<tr>
					<td colspan="2">Community Lifestyle</td>
				</tr>
				<tr>
					<td colspan="2">Defined as:<br>
						Part of the
						Unclassified
						social class.
						Unclassified
					</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
	<tr height="160px" valign="bottom">
		<td colspan="2">
			<table cellspacing="0" cellpadding="2" width="100%" border="0">
				<tbody><tr valign="top">
					<td width="5"><b>*</b></td>
					<td>Indicates data at the district level.</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>
</td>
						</tr>
					</tbody></table>
				
</td></tr></tbody></table>
